@import 'partials/variables';
@import 'sections/page';
@import 'partials/embed_video';
/* ############ blog-single-post.scss ############ */

/* #### Article  #### */

.blog-content {
    h1 {
        font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 25px;
        letter-spacing: 0.05em;
        margin: 10px 0 !important;
        line-height: 1.15;
        text-transform: uppercase;
    }
    h2 {
        font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.8em;
        letter-spacing: 0.05em;
        margin: 0 0 10px 0;
        line-height: 1.15;
        text-transform: uppercase;
    }
    h3 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        line-height: 1;
        font-family: 'Proxima Nova Semibold', Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: #47718E;
    }
    h4 {
        font-size: 1.1em;
        font-weight: 600;
        color: #000000;
    }
    .entry-content {
        img {
            margin: 0 0 .5em 0;
        }
    }
    .blog-post {
        margin-bottom: 40px;
        border-top: 1px solid #f8f8f8;
        background: #f8f8f8;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all .3s;
        .blog-post-single {
            .post-img {
                img {
                    max-width: 100%;
                    height: auto;
                    transition: opacity .5s;
                }
            }
            .bp-content {
                padding: 40px 50px 50px 50px;
                .post-meta {
                    position: relative;
                    display: block;
                    margin-bottom: 10px;
                    height: 30px;
                    .post-date {
                        span {
                            display: inline-block;
                            border-height: 18px;
                            font-size: .85em;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            vertical-align: middle;
                            color: #777;
                            transition: all .3s;
                        }
                    }
                }
                .post-title {
                    display: block;
                    margin: 0;
                    padding-bottom: 20px;
                    font-size: 1.5em;
                    word-wrap: break-word;
                    color: #1C4D71;
                }
                p {
                    margin: 0 0 10px;
                }
                .read-more-btn {
                    margin-top: 20px;
                }
            }
        }
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
        }
    }
}

// Individual blog - wpb-single-post.php
.blog-post-individual {
    margin-bottom: 40px;
    border-top: 1px solid #f8f8f8;
    p {
        margin: 0 0 10px;
    }
    .bp-content-individual {
        .blog-post-single {
            .post-img {
                img {
                    max-width: 100%;
                    height: auto;
                    transition: opacity .5s;
                    margin-bottom: 20px;
                }
            }
            .post-meta {
                position: relative;
                display: block;
                margin-bottom: 10px;
                padding-top: 30px;
                .post-date {
                    span {
                        font-size: .85em;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        vertical-align: middle;
                        color: #777;
                        transition: all .3s;
                        position: relative;
                        display: block;
                        margin-bottom: 10px;
                        height: 30px;
                    }
                }
                .post-title {
                    a {
                        display: block;
                        margin: 0;
                        padding-bottom: 20px;
                        font-size: 1.5em;
                        word-wrap: break-word;
                        color: #1C4D71;
                        font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }
                }
            }
        }
    }
}

/* #### END Article  #### */

/* #### Side Bar  #### */

#custom_html-2 {
    margin-top: 0px !important;
}

.news-sidebar-content {
    h3 {
        padding-bottom: 10px;
        text-transform: uppercase;
        text-align: left;
    }
    ul {
        margin: 0 0 50px 0;
        list-style-type: none;
        li {
            margin: 0;
            padding: 10px 0;
            a {
                font-size: 16px;
                font-family: $sans-serif;
                color: #1C4D71;
            }
        }
    }
    .widget_recent_entries,
    .widget_categories,
    .widget_archive {
        a {
            display: block;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0.85em;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #777;
            font-family: $sans-serif;
        }
    }
    .lcc-search {
        padding-bottom: 2.2em;
        .search {
            float: left;
            width: 80%;
            border: 2px solid #3185C0;
            padding: 5px;
            height: 20px;
            border-radius: 5px 0px 0px 5px;
            outline: none;
            color: #9DBFAF;
        }
        .search-submit {
            color: #3185C0;
            position: absolute;
            width: 40px;
            height: 34px;
            border: 1px solid #3185C0;
            background: #3185C0;
            text-align: center;
            color: #fff;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
            font-size: 20px;
            .fa {}
        }
    }
    .tagcloud {
        padding-top: 10px;
        a {
            font-size: 10px;
            padding: 3px 8px;
            border: 1px solid #d9d9d9;
            margin: 0 8px 8px 0;
            display: inline-block;
            text-transform: uppercase;
            color: #232323;
            letter-spacing: 2px;
            line-height: 18px;
            &:hover {
                background: #0073A7;
                color: #fff !important;
                border: 1px solid #232323;
            }
            &:active {
                outline: none;
            }
        }
    }
    #search-2 {
        margin-top: 0px !important;
    }
    .blog-widget-title {
        margin-top: 0;
        margin-bottom: 570 25px;
        padding-bottom: 20px;
        font-size: 1.25em;
        letter-spacing: 2px;
        border-bottom: 1px solid #ccc;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding-bottom: 15px;
            a {
                display: block;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 0.85em;
                font-weight: 300;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #777 !important;
            }
        }
    }
}

//Code used to remove border of last article
// ul {
//   margin: 0 0 50px 0;
// list-style-type: none;
//     li {
//         border-bottom: 1px solid #d9d9d9;
//         margin: 0;
//         padding: 10px 0;
//         &:last-of-type {
//             border-bottom: none !important;
//         }
//     }
// }
/* #### END Side Bar  #### */

/* #### Meta Footer   #### */

.post-meta-footer {
    margin-top: 50px;
    padding: 30px 0px;
    border-top: 1px solid #ccc;
    .blog-post-categories {
        span {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
            font-size: 13px;
            font-weight: 300;
        }
        a {
            letter-spacing: 2px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0.85em;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #777;
            font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .span-title {
            padding-right: 20px;
            font-size: 13px;
        }
        a {
            text-transform: uppercase;
            color: #999 !important;
            &:hover {
                color: #111 !important;
            }
        }
        .blog-space {
            margin: 0px 10px;
            padding: 0px !important;
        }
    }
    .blog-post-tags {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 0 !important;
        letter-spacing: 2px;
        text-transform: uppercase;
        span {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
            padding-right: 20px;
        }
        a {
            padding: 3px 8px;
            border: 1px solid #d9d9d9;
            margin: 0 8px 8px 0;
            display: inline-block;
            text-transform: uppercase;
            line-height: 18px;
            font-size: 13px;
            letter-spacing: 2px;
            &:hover {
                background: #0073A7;
                color: #fff !important;
                border: 1px solid #232323;
            }
        }
    }
    .share-links-wrapper {}
}

/* #### Ribbon  #### */

.blog-ribbon {
    background: #f4f4f4;
    height: 60px;
    min-height: 60px;
    font-family: $sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 1.25em;
    margin-bottom: 60px;
    .blog-issue {
        margin-top: 0;
        font-size: 18px;
        display: inline-block;
        height: 60px;
        line-height: 61px;
        color: #47718E;
    }
    .caption {
        float: right;
        line-height: 60px;
        color: #47718E;
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: 2px;
    }
}

// styles for 768up
@media only screen and (min-width: 768px) {
    .blog-ribbon {
        background: #f4f4f4;
        height: 60px;
        min-height: 60px;
        font-family: $sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 61px;
        .blog-issue {
            margin-top: 0;
            font-size: 18px;
            display: inline-block;
            height: 60px;
            line-height: 61px;
            color: #47718E;
        }
        .caption {
            float: right;
            line-height: 60px;
            color: #47718E;
            text-transform: uppercase;
            font-size: .85em;
            letter-spacing: 2px;
        }
    }
}

//news-ribbon
@media only screen and (min-width: 1030px) {
    .not-frontpage .no-hero {
        margin-top: 133px !important;
    }
}

.no-hero {
    margin-top: 63px !important;
}

@media only screen and (max-width: 768px) {
    #search-2 {
        margin-top: 30px !important;
    }
    .bp-content {
        padding: 20px 25px 25px 25px !important;
    }
}

//Breadcrumbs
#breadcrumbs {
    list-style: none;
    overflow: hidden;
    margin: 0px;
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    &:before {
        padding: 0 5px;
        color: #ccc;
    }
}

#breadcrumbs .separator {
    content: "/\00a0";
    color: #ccc;
    margin: 0px 10px;
}

/* ############ END  blog-single-post.scss ############ */

/* ############ OLD CODE Start ############ */

// styles for 0up
#main-content,
.news {
    .full-width-gallery {
        margin-bottom: 4px;
    }
    h1 {
        text-align: left;
        margin: 30px 0; //       font-size: 2.5em;
    }
    h3 {
        font-family: $semibold-sans-serif;
    }
    a.button-abt {
        &.left-arrow {
            padding: 10px 10px 10px 45px;
            background-position: 10px -341px;
        }
        &.right-arrow {
            background-position: 105% -241px;
        }
    }
    .callout {
        background: #aca39a;
        border: none;
        padding-top: 30px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        p {
            color: #FFFFFF;
            font-family: 'adobe-caslon-pro', serif;
            font-size: 18px;
            font-style: italic;
            font-weight: normal;
            line-height: 1.5em;
            margin: 0px 30px;
            padding-bottom: 0px;
            width: 87%;
        }
        .room {
            font-family: $sans-serif;
            font-size: 18px;
            font-style: normal;
            .first {
                padding-top: 20px;
            }
        }
        .attribution {
            font-family: 'adobe-caslon-pro', serif;
            font-size: 17px;
            font-style: normal;
            font-variant: small-caps;
            margin-bottom: 0;
            &.last {
                border-bottom: none;
                padding-bottom: 40px;
            }
        }
        &.last {
            margin-bottom: 30px;
        }
    }
    .news-content {
        margin: 0 auto 3em 0;
        p {
            margin-bottom: 2em;
            a,
            a:hover,
            a:visited {
                font-family: $sans-serif;
                font-weight: normal;
                color: #47718E;
                font-weight: bold;
                text-decoration: none;
            }
            a:visited,
            a:active {
                color: #47718E;
                font-weight: bold;
                &:hover {
                    color: #CCCCCC;
                }
            }
        }
    }
    .page-col-onethird {
        float: none;
        width: 100%;
        h3 {
            color: $alt-dark-blue;
        }
    }
    .page-col-twothird {
        float: none;
        margin-right: 10px;
        width: 100%;
        video {
            max-width: 100% !important;
            height: auto !important;
        }
    }
    .res-content a,
    .res-content a:visited,
    .res-content a:active {
        color: $copy-link-visited;
        font-weight: bold;
    }
    a:hover {
        color: $copy-link-visited;
        text-decoration: none;
    }
}

.container {
    .news-inline-image-left,
    .news-inline-image-right {
        margin-bottom: 10px;
        font-size: 10px;
        line-height: 1.6em;
        .news-inline-image-caption {
            display: inline-block;
            max-width: 320px;
        }
        .news-inline-image-credit {
            display: inline-block;
            font-style: italic;
            max-width: 320px;
        }
    }
    .news-inline-image-left {
        margin-right: auto;
        float: none;
    }
    .news-inline-image-right {
        margin-left: auto;
        float: none;
    }
    .recipe-ingredients {
        background: #aca39a;
        width: auto;
        float: left;
        text-align: left;
        padding: 10px 30px;
        margin-right: 40px;
        h4 {
            color: #FFFFFF;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        ul {
            list-style: square;
            margin-top: 0;
            margin-bottom: 10px;
            margin-left: 15px;
            li {
                color: #FFFFFF;
            }
        }
    }
    .recipe-directions {
        h4,
        p {
            margin-bottom: 10px;
            padding-bottom: 0;
        }
    }
}

#main-content .news-pagination {
    margin: 30px auto 60px auto;
}

// styles for 481up
@media only screen and (min-width: 481px) {}

// styles for 640up
@media only screen and (min-width: 640px) {}

// styles for 768up
@media only screen and (min-width: 768px) {
    #main-content {
        .page-col-onethird {
            float: right;
            width: 30%;
        }
        .page-col-twothird {
            float: left;
            margin-right: 3%;
            width: 66%;
        }
    }
    .container {
        .news-inline-image-left {
            margin-right: 20px;
            float: left;
        }
        .news-inline-image-right {
            margin-left: 20px;
            float: right;
        }
    }
}

// styles for 1030up
@media only screen and (min-width: 1030px) {
    #main-content {
        .container {
            .recipe-ingredients {
                width: 40%;
                p {
                    margin-bottom: 10px;
                    color: white;
                }
                ul {
                    margin-bottom: 30px;
                }
            }
            .recipe-directions {
                width: auto;
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// styles for 1240up
@media only screen and (min-width: 1240px) {}

// styles for 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

//Responsibeness
@media only screen and (max-width: 768px) {
    .blog-ribbon {
        background: #f4f4f4;
        height: 60px;
        min-height: 60px;
        font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #FFFFFF;
        line-height: 1.25em;
        margin-bottom: 0px;
    }
    .breadcrumbs {
        font-size: .85em;
        .separator {
            margin: 0px 5px;
        }
    }
}

/* #### pagination  #### */

// pagniation
.pagination {
    padding-bottom: 30px;
    font-size: 1em;
    .page-numbers {
        display: inline-block;
        padding: 5px 10px;
        font-size: 1em;
        &:focus {
            color: #1C4D71;
            background-color: white;
        }
    }
    .page-numbers.current {
        color: #47718E;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
    }
    a.page-numbers:hover {
        color: #1C4D71;
        background-color: white;
        border-radius: 5px;
    }
}

a.prev.page-numbers {
    border: none;
    font-size: 1.5em;
}

a.next.page-numbers {
    border: none;
    font-size: 1.5em;
}

.nav-links {
    padding-bottom: 30px;
}

/* #### END: pagination  #### */

/* Social sidebar */

.custom-html-widget {
    .at-share-btn-elements {
        padding-top: 10px;
    }
}

.blog-post-single {
    p {
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 768px) {
    #blog-sidebar {
        .widget {
            margin: 20px 0px !important;
        }
    }
}

.bar-line {
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
}
