@import 'partials/variables';
@import 'sections/page';
@import 'sections/masonry-gallery';

/* ############ gallery.scss ############ */

// styles for 0up


/*.fancyboxVid .videoTag {
    display: none;
}

video {
    background: #000;
    display: block;
    max-width: 100%;
    max-height: 620px;
} */


// css for fancybox oembed fiddle
/* #dummy {
    display: none;
}

.fancybox-inner iframe {
    display: block;
    width: 100%;
    height: 100%;
} */

.caption-photos {
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: rgba(66, 66, 66, 0.44);
    font-family: $italic-sans-serif; 
    padding: 3px 10px;
    color: #e8e8e8;
    font-size: 0.95em;
}
 .fancybox-type-iframe {
    .fancybox-nav {
        width: 60px;
        span {
            visibility: visible;
            opacity: 0.5;
        }
        :hover span {
            opacity: 1;
        }
    }
    .fancybox-next {
        right: -60px;
    }
    .fancybox-prev {
        left: -60px;
    }
}

.gallery-filters-wrapper {
    h2 {
        &.sort-photos {
        float: none;
        }
    }
    #gallery-filters {
        height: auto;
        line-height: 24px;
        li {
            display: block;
            padding-right: 0;
        }
    }
}

// styles for 481up
@media only screen and (min-width: 481px) {}

// styles for 640up
@media only screen and (min-width: 640px) {}

// styles for 768up
@media only screen and (min-width: 768px) {
    .gallery-filters-wrapper {
        h2 {
            &.sort-photos {
                float: left;
            }
        }
        #gallery-filters {
            height: 30px;
            line-height: 17px;
            li {
                display: inline-block;
                padding-right: 30px;
            }
        }
    }
}

// styles for 1030up
@media only screen and (min-width: 1030px) {}

// styles for 1240up
@media only screen and (min-width: 1240px) {}

// styles for 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {}
