@import 'partials/variables';
@import 'sections/page';
@import 'sections/amenities-services';
@import 'sections/rooms';







/* ############ accommodations-suites.scss ############ */

.full-width-gallery {
    margin-bottom: 4px;
}

.news-ribbon {
    background: #968c83;
    height: 60px;
    min-height: 60px;
    font-family: $semibold-sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 1.25em;
    border-top: 4px solid white;
    span,
    .caption {
        margin-top: 1.2em;
        float: none;
        display: inline-block;
        height: 1.1em;
        font-size: 10px;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 768px) {
    .news-ribbon {
        background: #968c83;
        height: 60px;
        min-height: 60px;
        font-family: $semibold-sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 61px;
        span {
            margin-top: 0;
            font-size: 18px;
            display: inline-block;
            height: 60px;
            line-height: 61px;
        }
        .caption {
            font-size: 12px;
            float: right;
            line-height: 2.95em;
        }
    }
}

.bullet-p {
    margin-bottom: 15px !important;
}

.text-overlay {
    color: #1C4D71;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: left;
}

.h4-heading {
    font-size: 1.5em !important;
    margin-bottom: 25px !important;
}

.menu-bold {
    font-size: 1.1em;
    display: inline;
    font-family: $bold-sans-serif !important;
}

.big-bold-blue-text {
    color: #47718E !important;
    font-size: 1.3em !important;
    font-family: $bold-sans-serif !important;
}

.bold-blue-text {
    color: #47718E !important;
    font-family: $bold-sans-serif !important;
}

.1-3em {
    font-size: 1.3em !important;
}

.margin-top-0px {
    margin-top: 0px;
}

.no-margin {
    margin: 0px !important;
}

.margin-bottom-15px {
    margin-bottom: 15px;
}

.square-img {
    padding-bottom: 25px;
}

.full-width-gallery {
    margin-bottom: 4px !important;
}


//pagination

#main-content .news-pagination {
    margin: 30px auto 60px auto;
}


// styles for 0up
#main-content {
    a {
        color: #47718E;
        font-weight: bold;
        &:hover {
            color: #CCCCCC;
        }
    }
    .guest-services {
        padding-top: 0;
    }
    .container {

        .bottom-30 {
            padding-bottom: 0!important;
        }
    }
    .amenities {
        .page-col-twothird {
            width: 100%;
            float: none;
            margin: 0;
            h2 {
                margin-top: 30px;
            }
            ul {
                list-style-type: disc;
                margin-bottom: 40px;
                margin-top: 5px;
            }
            p {
                margin-bottom: 30px;
            }
        }
        .page-col-onethird {
            width: 100%;
            h2 {
                margin-top: 20px;
            }
            .service {
                .service-name {
                    padding: 0 10px;
                }
            }
        }
    }
}

// styles for 481up
@media only screen and (min-width: 481px) {}

// styles for 640up
@media only screen and (min-width: 640px) {}

// styles for 768up
@media only screen and (min-width: 768px) {
    #main-content .amenities {
        .page-col-twothird {
            float: left;
            margin-right: 3%;
            width: 60%;
        }
        .page-col-onethird {
            float: right;
            width: 33%;
            min-height: 0;
        }
    }
}


// styles for 1030up
@media only screen and (min-width: 1030px) {}

// styles for 1240up
@media only screen and (min-width: 1240px) {}

// styles for 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}
