// variables
@import "partials/variables";

// page styles
@import "sections/page";

/* ############ meetings.scss ############ */

// styles for 0up
#main-content {

  .container {

    &.two-columns {

      .column {

        &.left-column,
        &.right-column {
          float: none;
          margin: 0;
          width: 100%;

        }

        &.right-column {
          float: none;
        }

      }

    }

  }

}

// styles for 481up
@media only screen and (min-width: 481px) {

}

// styles for 640up
@media only screen and (min-width: 640px) {

  #main-content {

    .container {

      &.two-columns {

        .column {

          &.left-column,
          &.right-column {
            float: left;
            margin: 0;
            width: 47%;

          }

          &.right-column {
            float: right;
          }

        }

      }

    }

  }

}

// styles for 768up
@media only screen and (min-width: 768px) {

}

// styles for 1030up
@media only screen and (min-width: 1030px) {


}

// styles for 1240up
@media only screen and (min-width: 1240px) {

}

// styles for 2x
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}
