// variables
@import "partials/variables";

// page styles
// @import "sections/page";

/* ############ rsvp.scss ############ */

#container{
    #content {
      margin: 0 auto;
      padding: 10px 0;
      max-width: 752px;

      #main-content .entry-content {
        border: 1px solid #999;

        img {
            margin: 0;
        }

        #retirement_head_img {
          vertical-align: top;
        }

        #retirement_foot_img {
          vertical-align: bottom;
        }

      }

    }

}
