// ############ partials/print.scss ############

// ******************************************************************
// Stylesheet: Print Stylesheet

// This is the print stylesheet. There's probably not a lot
// of reasons to edit this stylesheet. If you want to
// though, go for it.
// ******************************************************************

* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

a, a:visited {
  color: #444 !important;
  text-decoration: underline;

  // show links on printed pages
  &:after {
    content: ' (' attr(href) ')';
  }

  // show title too
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
}

.ir a:after,
a[href^='javascript:']:after,
a[href^='#']:after {
  content: '';
}

pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr, img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

@page {
  margin: 0.5cm;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

// hide content people who print don't need to see
#footer,
#navbar,
.driving-directions-utils,
.footer-block.follow,
.no-print
.page-navigation,
.page-template-template-contact-php .lax-directions,
.respond-form,
.sidebar,
.wp-prev-next,
nav {
  display: none;
}

#header,
.not-frontpage #header {
  display: block;
  position: static;
  width: 100%;
  box-shadow: none;
}

#logo,
.logo-ucla {
  display: block;
}

#logo:after,
.logo-ucla:after,
.contact-block .align-right a:after {
  display: none;
}

.two-columns .left-column,
.two-columns .right-column {
  float: none;
  width: 100%;
}

.column .contact-block {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 25px;
}

.page-template-template-contact-php .right-column h4 {
  margin-top: 20px;
}
