// ############ partials/variables.scss ############

// ******************************************************************
// Stylesheet: Variables

// Here is where we declare all our variables like colors, fonts,
// base values, and defaults. We want to make sure this file ONLY
// contains variables that way our files don't get all messy.
// No one likes a mess.

// Here's a great tutorial on how to use color variables properly:
// http://sachagreif.com/sass-color-variables/
// ******************************************************************

// ******************************************************************
// COLORS
// Need help w/ choosing your colors? Try this site out:
// http://0to255.com/ or http://www.color-hex.com/
// ******************************************************************

// alert colors
$alert-yellow: #EBE16F;

//rgba(235, 225, 111, 1)
$alert-red: #FBE3E4;

//rgba(251, 227, 228, 1)
$alert-green: #E6EfC2;

//rgba(230, 239, 194, 1)
$alert-blue: #D5EDF8;

//rgba(213, 237, 248, 1)

// some generic colors
$gray: #EAEDF2;

// UCLA Blue rgba(50,132,191,1)
$ucla-blue: #3284BF;

// Luskin Brand Light Blue
$light-luskin-blue: #00A5E5;

//rgba(234, 237, 242, 1)
$light-gray: lighten($gray, 10%);
$dark-gray: darken($gray, 10%);
$light: #EAEBEC;

//rgba(234, 235, 236, 1)
$x-light: lighten($light, 10%);
$dark: #323944;

//rgba(50, 57, 68, 1)
$x-dark: darken($dark, 10%);
$blue: #2980B9;

//rgba(41, 128, 185, 1)
$dark-blue: #47718E;

//rgba(71, 113, 142, 1)
$alt-dark-blue: #1C4D71;

//rgba(141, 166, 184, 1)
$light-blue: #8DA6B8;
$green: #7DD667;

//rgba(125, 214, 103, 1)
$red: #FF1A00;

//rgba(255, 26, 0, 1)
$white: #FFFFFF;

//rgba(255, 255, 255, 1)
$meta: #9FA6B4;

//rgba(159, 166, 180, 1)
$meta2: #565656;

//rgba(86, 86, 86, 1)

// text-overlay color
$text-overlay-color: rgba(255, 255, 255, 0.85);

// default fore/background colors
$text-color: #000000;

//rgba(0, 0, 0, 1)
$text-color-bg: #FFFFFF;

//rgba(255, 255, 255, 1)

// pre-foot fore/background colors
$prefoot-text-color: #FFFFFF;

//rgba(255, 255, 255, 1)
$prefoot-text-color-bg: #4D4D4D;

//rgba(77, 77, 77, 1)

// foot fore/background colors
$foot-pri-text-color: #CCCCCC;

//rgba(204, 204, 204, 1)
$foot-sec-text-color: #A2A2A2;

//rgba(162, 162, 162, 1)
$foot-text-color-bg: #292929;

//rgba(41, 41, 41, 1)

// button colors
$btn-text-link: #FFFFFF;

//rgba(255, 255, 255, 1)
$btn-bg-link: #1C4D71;

//rgba(28, 77, 113, 1)
$btn-text-visited: #FFFFFF;

//rgba(255, 255, 255, 1)
$btn-bg-visited: #1C4D71;

//rgba(28, 77, 113, 1)

$btn-text-link-alt: #FFFFFF;

//rgba(255, 255, 255, 1)
$btn-bg-link-alt: #47718E;

//rgba(71, 113, 142, 1)

$btn-text-hover: #FFFFFF;

//rgba(255, 255, 255, 1)
$btn-bg-hover: #C6C8CA;

//rgba(198, 200, 202, 1)
$btn-text-active: #FFFFFF;

//rgba(255, 255, 255, 1)
$btn-bg-active: #C6C8CA;

//rgba(198, 200, 202, 1)

// default link colors
$link-color: #A2A2A2;

//rgba(162, 162, 162, 1)
$link-visted: #A2A2A2;

//rgba(,,,)
$copy-link-visited: #3185C0;

//rgba(162, 162, 162, 1)
$link-hover: #CCCCCC;

//rgba(204, 204, 204, 1)
$link-active: #CCCCCC;

//rgba(204, 204, 204, 1)

// alt link colors
$alt-link-color: #47718E;

//rgba(162, 162, 162, 1)
$alt-link-visted: #47718E;

//rgba(162, 162, 162, 1)
$alt-link-hover: #CCCCCC;

//rgba(204, 204, 204, 1)
$alt-link-active: #CCCCCC;

//rgba(204, 204, 204, 1)

// footer link colors
$foot-link-color: #A2A2A2;

//rgba(204, 204, 204, 1)
$foot-link-visited: #CCCCCC;

//rgba(204, 204, 204, 1)
$foot-link-hover: #3185C0;

//rgba(49, 133, 192, 1)
$foot-link-active: #A2A2A2;

//rgba(162, 162, 162, 1)

// primary nav link colors
$nav-link-color: #FFFFFF;

//rgba(255, 255, 255, 1)
$nav-link-visited: #FFFFFF;

//rgba(255, 255, 255, 1)
$nav-link-hover: #CCCCCC;

//rgba(204, 204, 204, 1)
$nav-link-active: #CCCCCC;

//rgba(204, 204, 204, 1)
$mobile-bg: rgba(66, 66, 66, 0.75);
$mobile-bg-alt: rgba(55, 55, 55, 0.75);
$mobile-bg-alt2: rgba(25, 25, 25, 0.75);
$mobile-border: #3C3C3C;

//rgba(60, 60, 60, 1)

// footer nav link colors
$nav-foot-link-color: #888888;

//rgba(136, 136, 136, 1)
$nav-foot-link-visited: #888888;

//rgba(136, 136, 136, 1)
$nav-foot-link-hover: #296AAD;

//rgba(41, 106, 173, 1)
$nav-foot-link-active: #296AAD;

//rgba(41, 106, 173, 1)

// ******************************************************************
// FONT FAMILIES
// ******************************************************************

// sans-serif font stacks
$sans-serif: 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$italic-sans-serif: 'Proxima Nova Regular Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$light-sans-serif: 'Proxima Nova Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bold-sans-serif: 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$semibold-sans-serif: 'Proxima Nova Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// serif font stacks
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;

// serif typekit fonts; can also be added via: '.tk-adobe-caslon-pro' and '.tk-minion-pro'
$adobe-caslon-pro: 'adobe-caslon-pro', 'Georgia', Cambria, Times New Roman, Times, serif;
$minion-pro: 'minion-pro', 'Georgia', Cambria, Times New Roman, Times, serif;

// imported this google font in the /library/luskin.php main function file so the editor would look sweet.
$lato: 'Lato', $sans-serif;



@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?31648639');
  src: url('./fonts/fontello.eot?31648639#iefix') format('embedded-opentype'),
       url('./fonts/fontello.svg?31648639#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('data:application/octet-stream;base64,d09GRgABAAAAAAscAA8AAAAAE3gAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABWAAAADsAAABUIIslek9TLzIAAAGUAAAAQwAAAFZLLVZOY21hcAAAAdgAAABLAAABcPY14tFjdnQgAAACJAAAABMAAAAgBtX/BGZwZ20AAAI4AAAFkAAAC3CKkZBZZ2FzcAAAB8gAAAAIAAAACAAAABBnbHlmAAAH0AAAALQAAAC0dir/d2hlYWQAAAiEAAAAMwAAADYQih1taGhlYQAACLgAAAAfAAAAJAcxA1RobXR4AAAI2AAAAAgAAAAIB2T/9GxvY2EAAAjgAAAABgAAAAYAWgAAbWF4cAAACOgAAAAgAAAAIADFC7RuYW1lAAAJCAAAAXcAAALNzJ0eIHBvc3QAAAqAAAAAHwAAADDX3mJ6cHJlcAAACqAAAAB6AAAAhuVBK7x4nGNgZGBg4GIwYLBjYHJx8wlh4MtJLMljkGJgYYAAkDwymzEnMz2RgQPGA8qxgGkOIGaDiAIAJjsFSAB4nGNgZN7EOIGBlYGBqYppDwMDQw+EZnzAYMjIBBRlYGVmwAoC0lxTGBy+8n7lZQ76n8UQxRzEMA0ozAiSAwD9BgwTAHicY2BgYGVgYGAGYh0gZmFgYAxhYGQAAT+gKCNYnJmBCyzOwqAEVsMCEv/K+/8/jATyWcAkAyMbwyjgAZMyUB44rCCYgREAbZ4J2QB4nGNgQAMSEMgc9D8LhAESbAPdAHicrVZpd9NGFB15SZyELCULLWphxMRpsEYmbMGACUGyYyBdnK2VoIsUO+m+8Ynf4F/zZNpz6Dd+Wu8bLySQtOdwmpOjd+fN1czbZRJaktgL65GUmy/F1NYmjew8CemGTctRfCg7eyFlisnfBVEQrZbatx2HREQiULWusEQQ+x5ZmmR86FFGy7akV03KLT3pLlvjQb1V334aOsqxO6GkZjN0aD2yJVUYVaJIpj1S0qZlqPorSSu8v8LMV81QwohOImm8GcbQSN4bZ7TKaDW24yiKbLLcKFIkmuFBFHmU1RLn5IoJDMoHzZDyyqcR5cP8iKzYo5xWsEu20/y+L3mndzk/sV9vUbbkQB/Ijuzg7HQlX4RbW2HctJPtKFQRdtd3QmzZ7FT/Zo/ymkYDtysyvdCMYKl8hRArP6HM/iFZLZxP+ZJHo1qykRNB62VO7Es+gdbjiClxzRhZ0N3RCRHU/ZIzDPaYPh788d4plgsTAngcy3pHJZwIEylhczRJ2jByYCVliyqp9a6YOOV1WsRbwn7t2tGXzmjjUHdiPFsPHVs5UcnxaFKnmUyd2knNoykNopR0JnjMrwMoP6JJXm1jNYmVR9M4ZsaERCICLdxLU0EsO7GkKQTNoxm9uRumuXYtWqTJA/Xco/f05la4udNT2g70s0Z/VqdiOtgL0+lp5C/xadrlIkXp+ukZfkziQdYCMpEtNsOUgwdv/Q7Sy9eWHIXXBtju7fMrqH3WRPCkAfsb0B5P1SkJTIWYVYhWQGKta1mWydWsFqnI1HdDmla+rNMEinIcF8e+jHH9XzMzlpgSvt+J07MjLj1z7UsI0xx8m3U9mtepxXIBcWZ5TqdZlu/rNMfyA53mWZ7X6QhLW6ejLD/UaYHlRzodY3lBC5p038GQizDkAg6QMISlA0NYXoIhLBUMYbkIQ1gWYQjLJRjC8mMYwnIZhrC8rGXV1FNJ49qZWAZsQmBijh65zEXlaiq5VEK7aFRqQ54SbpVUFM+qf2WgXjzyhjmwFkiXyJpfMc6Vj0bl+NYVLW8aO1fAsepvH472OfFS1ouFPwX/1dZUJb1izcOTq/Abhp5sJ6o2qXh0TZfPVT26/l9UVFgL9BtIhVgoyrJscGcihI86nYZqoJVDzGzMPLTrdcuan8P9NzFCFlD9+DcUGgvcg05ZSVnt4KzV19uy3DuDcjgTLEkxN/P6VvgiI7PSfpFZyp6PfB5wBYxKZdhqA60VvNknMQ+Z3iTPBHFbUTZI2tjOBIkNHPOAefOdBCZh6qoN5E7hhg34BWFuwXknXKJ6oyyH7kXs8yik/Fun4kT2qGiMwLPZG2Gv70LKb3EMJDT5pX4MVBWhqRg1FdA0Um6oBl/G2bptQsYO9CMqdsOyrOLDxxb3lZJtGYR8pIjVo6Of1l6iTqrcfmYUl++dvgXBIDUxf3vfdHGQyrtayTJHbQNTtxqVU9eaQ+NVh+rmUfW94+wTOWuabronHnpf06rbwcVcLLD2bQ7SUiYX1PVhhQ2iy8WlUOplNEnvuAcYFhjQ71CKjf+r+th8nitVhdFxJN9O1LfR52AM/A/Yf0f1A9D3Y+hyDS7P95oTn2704WyZrqIX66foNzBrrblZugbc0HQD4iFHrY64yg18pwZxeqS5HOkh4GPdFeIBwCaAxeAT3bWM5lMAo/mMOT7A58xh0GQOgy3mMNhmzhrADnMY7DKHwR5zGHzBnHWAL5nDIGQOg4g5DJ4wJwB4yhwGXzGHwdfMYfANc+4DfMscBjFzGCTMYbCv6dYwzC1e0F2gtkFVoANTT1jcw+JQU2XI/o4Xhv29Qcz+wSCm/qjp9pD6Ey8M9WeDmPqLQUz9VdOdIfU3Xhjq7wYx9Q+DmPpMvxjLZQa/jHyXCgeUXWw+5++J9w/bxUC5AAEAAf//AA8AAv/0/58DfQMdAB0AJwAyQC8MAQMEFwECAwJHAAECAXAAAAAEAwAEYAADAgIDVAADAwJYAAIDAkwTFiUcFQUFGSsTJjY3PgEyFhceAQYHFh8BFhQGIi8BJicGIyImJyY3FBYyPgEmIgcGCxcuQDB8g3wwNDIIIBwVriNGZCOtFghGT0J8MEBOg7mCAoW3Q0EBd1esQDEyMjE0how+CBWtI2RGI64UHSMyMECtXYKCuoNCQQB4nGNgZGBgAOKp3RHr4/ltvjJwM78AijBcO57zDEb///J/PvMLZlkgl4OBCSQKAJu0D0MAeJxjYGRgYA76nwUkX/z/8v8/8wsGoAgKYAIAtZ8HigAD6AAAA3z/9AAAAAAAWgAAAAEAAAACACgAAgAAAAAAAgAKABoAcwAAAEMLcAAAAAB4nHWQ3WrCMBiG38yfbQrb2GCny9FQxuoPDEQQBIeebCcyPB211rZSG0mj4G3sHnYxu4ldy17bOIayljTP9+TLl68BcI1vCOTPE0fOAmeMcj7BKXqWC/TPlovkF8slVPFmuUz/brmCBwSWq7jBByuI4jmjBT4tC1yJS8snuBB3lgv0j5aL5J7lEm7Fq+UyvWe5golILVdxL74GarXVURAaWRvUZbvZ6sjpViqqKHFj6a5NqHQq+3KuEuPHsXI8tdzz2A/Wsav34X6e+DqNVCJbTnOvRn7ia9f4s131dBO0jZnLuVZLObQZcqXVwveMExqz6jYaf8/DAAorbKER8apCGEjUaOuc22iihQ5pygzJzDwrQgIXMY2LNXeE2UrKuM8xZ5TQ+syIyQ48fpdHfkwKuD9mFX20ehhPSLszosxL9uWwu8OsESnJMt3Mzn57T7HhaW1aw127LnXWlcTwoIbkfezWFjQevZPdiqHtosH3n//7AelzhFMAeJxjYGKAAC4G7ICJkYmRmYGtODWxKDmDgQEAEFwCkgB4nGPw3sFwIihiIyNjX+QGxp0cDBwMyQUbGVidNjEwMmiBGJu5mBg5ICw+BjCLzWkX0wGgNCeQze60i8EBwmZmcNmowtgRGLHBoSNiI3OKy0Y1EG8XRwMDI4tDR3JIBEhJJBBs5mFi5NHawfi/dQNL70YmBhcADHYj9AAA') format('woff'),
       url('data:application/octet-stream;base64,AAEAAAAPAIAAAwBwR1NVQiCLJXoAAAD8AAAAVE9TLzJLLVZOAAABUAAAAFZjbWFw9jXi0QAAAagAAAFwY3Z0IAbV/wQAAAdgAAAAIGZwZ22KkZBZAAAHgAAAC3BnYXNwAAAAEAAAB1gAAAAIZ2x5ZnYq/3cAAAMYAAAAtGhlYWQQih1tAAADzAAAADZoaGVhBzEDVAAABAQAAAAkaG10eAdk//QAAAQoAAAACGxvY2EAWgAAAAAEMAAAAAZtYXhwAMULtAAABDgAAAAgbmFtZcydHiAAAARYAAACzXBvc3TX3mJ6AAAHKAAAADBwcmVw5UErvAAAEvAAAACGAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAEDsgGQAAUAAAJ6ArwAAACMAnoCvAAAAeAAMQECAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAQPUN9Q0DUv9qAFoDUgCWAAAAAQAAAAAAAAAAAAUAAAADAAAALAAAAAQAAAFUAAEAAAAAAE4AAwABAAAALAADAAoAAAFUAAQAIgAAAAQABAABAAD1Df//AAD1Df//AAAAAQAEAAAAAQAAAQYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAHAAAAAAAAAABAAD1DQAA9Q0AAAABAAL/9P+fA30DHQAdACcAMkAvDAEDBBcBAgMCRwABAgFwAAAABAMABGAAAwICA1QAAwMCWAACAwJMExYlHBUFBRkrEyY2Nz4BMhYXHgEGBxYfARYUBiIvASYnBiMiJicmNxQWMj4BJiIHBgsXLkAwfIN8MDQyCCAcFa4jRmQjrRYIRk9CfDBAToO5ggKFt0NBAXdXrEAxMjIxNIaMPggVrSNkRiOuFB0jMjBArV2CgrqDQkEAAAEAAAABAACVi1ivXw889QALA+gAAAAA1sds5gAAAADWx2zm//T/nwPoAx0AAAAIAAIAAAAAAAAAAQAAA1L/agAAA+j/9P//A+gAAQAAAAAAAAAAAAAAAAAAAAID6AAAA3z/9AAAAAAAWgAAAAEAAAACACgAAgAAAAAAAgAKABoAcwAAAEMLcAAAAAAAAAASAN4AAQAAAAAAAAA1AAAAAQAAAAAAAQAIADUAAQAAAAAAAgAHAD0AAQAAAAAAAwAIAEQAAQAAAAAABAAIAEwAAQAAAAAABQALAFQAAQAAAAAABgAIAF8AAQAAAAAACgArAGcAAQAAAAAACwATAJIAAwABBAkAAABqAKUAAwABBAkAAQAQAQ8AAwABBAkAAgAOAR8AAwABBAkAAwAQAS0AAwABBAkABAAQAT0AAwABBAkABQAWAU0AAwABBAkABgAQAWMAAwABBAkACgBWAXMAAwABBAkACwAmAclDb3B5cmlnaHQgKEMpIDIwMTggYnkgb3JpZ2luYWwgYXV0aG9ycyBAIGZvbnRlbGxvLmNvbWZvbnRlbGxvUmVndWxhcmZvbnRlbGxvZm9udGVsbG9WZXJzaW9uIDEuMGZvbnRlbGxvR2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20AQwBvAHAAeQByAGkAZwBoAHQAIAAoAEMAKQAgADIAMAAxADgAIABiAHkAIABvAHIAaQBnAGkAbgBhAGwAIABhAHUAdABoAG8AcgBzACAAQAAgAGYAbwBuAHQAZQBsAGwAbwAuAGMAbwBtAGYAbwBuAHQAZQBsAGwAbwBSAGUAZwB1AGwAYQByAGYAbwBuAHQAZQBsAGwAbwBmAG8AbgB0AGUAbABsAG8AVgBlAHIAcwBpAG8AbgAgADEALgAwAGYAbwBuAHQAZQBsAGwAbwBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAGgAdAB0AHAAOgAvAC8AZgBvAG4AdABlAGwAbABvAC4AYwBvAG0AAAAAAgAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAQIBAwAGc2VhcmNoAAAAAQAB//8ADwAAAAAAAAAAAAAAAAAAAAAAGAAYABgAGANS/2oDUv9qsAAsILAAVVhFWSAgS7gADlFLsAZTWliwNBuwKFlgZiCKVViwAiVhuQgACABjYyNiGyEhsABZsABDI0SyAAEAQ2BCLbABLLAgYGYtsAIsIGQgsMBQsAQmWrIoAQpDRWNFUltYISMhG4pYILBQUFghsEBZGyCwOFBYIbA4WVkgsQEKQ0VjRWFksChQWCGxAQpDRWNFILAwUFghsDBZGyCwwFBYIGYgiophILAKUFhgGyCwIFBYIbAKYBsgsDZQWCGwNmAbYFlZWRuwAStZWSOwAFBYZVlZLbADLCBFILAEJWFkILAFQ1BYsAUjQrAGI0IbISFZsAFgLbAELCMhIyEgZLEFYkIgsAYjQrEBCkNFY7EBCkOwAWBFY7ADKiEgsAZDIIogirABK7EwBSWwBCZRWGBQG2FSWVgjWSEgsEBTWLABKxshsEBZI7AAUFhlWS2wBSywB0MrsgACAENgQi2wBiywByNCIyCwACNCYbACYmawAWOwAWCwBSotsAcsICBFILALQ2O4BABiILAAUFiwQGBZZrABY2BEsAFgLbAILLIHCwBDRUIqIbIAAQBDYEItsAkssABDI0SyAAEAQ2BCLbAKLCAgRSCwASsjsABDsAQlYCBFiiNhIGQgsCBQWCGwABuwMFBYsCAbsEBZWSOwAFBYZVmwAyUjYUREsAFgLbALLCAgRSCwASsjsABDsAQlYCBFiiNhIGSwJFBYsAAbsEBZI7AAUFhlWbADJSNhRESwAWAtsAwsILAAI0KyCwoDRVghGyMhWSohLbANLLECAkWwZGFELbAOLLABYCAgsAxDSrAAUFggsAwjQlmwDUNKsABSWCCwDSNCWS2wDywgsBBiZrABYyC4BABjiiNhsA5DYCCKYCCwDiNCIy2wECxLVFixBGREWSSwDWUjeC2wESxLUVhLU1ixBGREWRshWSSwE2UjeC2wEiyxAA9DVVixDw9DsAFhQrAPK1mwAEOwAiVCsQwCJUKxDQIlQrABFiMgsAMlUFixAQBDYLAEJUKKiiCKI2GwDiohI7ABYSCKI2GwDiohG7EBAENgsAIlQrACJWGwDiohWbAMQ0ewDUNHYLACYiCwAFBYsEBgWWawAWMgsAtDY7gEAGIgsABQWLBAYFlmsAFjYLEAABMjRLABQ7AAPrIBAQFDYEItsBMsALEAAkVUWLAPI0IgRbALI0KwCiOwAWBCIGCwAWG1EBABAA4AQkKKYLESBiuwcisbIlktsBQssQATKy2wFSyxARMrLbAWLLECEystsBcssQMTKy2wGCyxBBMrLbAZLLEFEystsBossQYTKy2wGyyxBxMrLbAcLLEIEystsB0ssQkTKy2wHiwAsA0rsQACRVRYsA8jQiBFsAsjQrAKI7ABYEIgYLABYbUQEAEADgBCQopgsRIGK7ByKxsiWS2wHyyxAB4rLbAgLLEBHistsCEssQIeKy2wIiyxAx4rLbAjLLEEHistsCQssQUeKy2wJSyxBh4rLbAmLLEHHistsCcssQgeKy2wKCyxCR4rLbApLCA8sAFgLbAqLCBgsBBgIEMjsAFgQ7ACJWGwAWCwKSohLbArLLAqK7AqKi2wLCwgIEcgILALQ2O4BABiILAAUFiwQGBZZrABY2AjYTgjIIpVWCBHICCwC0NjuAQAYiCwAFBYsEBgWWawAWNgI2E4GyFZLbAtLACxAAJFVFiwARawLCqwARUwGyJZLbAuLACwDSuxAAJFVFiwARawLCqwARUwGyJZLbAvLCA1sAFgLbAwLACwAUVjuAQAYiCwAFBYsEBgWWawAWOwASuwC0NjuAQAYiCwAFBYsEBgWWawAWOwASuwABa0AAAAAABEPiM4sS8BFSotsDEsIDwgRyCwC0NjuAQAYiCwAFBYsEBgWWawAWNgsABDYTgtsDIsLhc8LbAzLCA8IEcgsAtDY7gEAGIgsABQWLBAYFlmsAFjYLAAQ2GwAUNjOC2wNCyxAgAWJSAuIEewACNCsAIlSYqKRyNHI2EgWGIbIVmwASNCsjMBARUUKi2wNSywABawBCWwBCVHI0cjYbAJQytlii4jICA8ijgtsDYssAAWsAQlsAQlIC5HI0cjYSCwBCNCsAlDKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgsAhDIIojRyNHI2EjRmCwBEOwAmIgsABQWLBAYFlmsAFjYCCwASsgiophILACQ2BkI7ADQ2FkUFiwAkNhG7ADQ2BZsAMlsAJiILAAUFiwQGBZZrABY2EjICCwBCYjRmE4GyOwCENGsAIlsAhDRyNHI2FgILAEQ7ACYiCwAFBYsEBgWWawAWNgIyCwASsjsARDYLABK7AFJWGwBSWwAmIgsABQWLBAYFlmsAFjsAQmYSCwBCVgZCOwAyVgZFBYIRsjIVkjICCwBCYjRmE4WS2wNyywABYgICCwBSYgLkcjRyNhIzw4LbA4LLAAFiCwCCNCICAgRiNHsAErI2E4LbA5LLAAFrADJbACJUcjRyNhsABUWC4gPCMhG7ACJbACJUcjRyNhILAFJbAEJUcjRyNhsAYlsAUlSbACJWG5CAAIAGNjIyBYYhshWWO4BABiILAAUFiwQGBZZrABY2AjLiMgIDyKOCMhWS2wOiywABYgsAhDIC5HI0cjYSBgsCBgZrACYiCwAFBYsEBgWWawAWMjICA8ijgtsDssIyAuRrACJUZSWCA8WS6xKwEUKy2wPCwjIC5GsAIlRlBYIDxZLrErARQrLbA9LCMgLkawAiVGUlggPFkjIC5GsAIlRlBYIDxZLrErARQrLbA+LLA1KyMgLkawAiVGUlggPFkusSsBFCstsD8ssDYriiAgPLAEI0KKOCMgLkawAiVGUlggPFkusSsBFCuwBEMusCsrLbBALLAAFrAEJbAEJiAuRyNHI2GwCUMrIyA8IC4jOLErARQrLbBBLLEIBCVCsAAWsAQlsAQlIC5HI0cjYSCwBCNCsAlDKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgR7AEQ7ACYiCwAFBYsEBgWWawAWNgILABKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwAmIgsABQWLBAYFlmsAFjYbACJUZhOCMgPCM4GyEgIEYjR7ABKyNhOCFZsSsBFCstsEIssDUrLrErARQrLbBDLLA2KyEjICA8sAQjQiM4sSsBFCuwBEMusCsrLbBELLAAFSBHsAAjQrIAAQEVFBMusDEqLbBFLLAAFSBHsAAjQrIAAQEVFBMusDEqLbBGLLEAARQTsDIqLbBHLLA0Ki2wSCywABZFIyAuIEaKI2E4sSsBFCstsEkssAgjQrBIKy2wSiyyAABBKy2wSyyyAAFBKy2wTCyyAQBBKy2wTSyyAQFBKy2wTiyyAABCKy2wTyyyAAFCKy2wUCyyAQBCKy2wUSyyAQFCKy2wUiyyAAA+Ky2wUyyyAAE+Ky2wVCyyAQA+Ky2wVSyyAQE+Ky2wViyyAABAKy2wVyyyAAFAKy2wWCyyAQBAKy2wWSyyAQFAKy2wWiyyAABDKy2wWyyyAAFDKy2wXCyyAQBDKy2wXSyyAQFDKy2wXiyyAAA/Ky2wXyyyAAE/Ky2wYCyyAQA/Ky2wYSyyAQE/Ky2wYiywNysusSsBFCstsGMssDcrsDsrLbBkLLA3K7A8Ky2wZSywABawNyuwPSstsGYssDgrLrErARQrLbBnLLA4K7A7Ky2waCywOCuwPCstsGkssDgrsD0rLbBqLLA5Ky6xKwEUKy2wayywOSuwOystsGwssDkrsDwrLbBtLLA5K7A9Ky2wbiywOisusSsBFCstsG8ssDorsDsrLbBwLLA6K7A8Ky2wcSywOiuwPSstsHIsswkEAgNFWCEbIyFZQiuwCGWwAyRQeLABFTAtAEu4AMhSWLEBAY5ZsAG5CAAIAGNwsQAFQrIAAQAqsQAFQrMKAgEIKrEABUKzDgABCCqxAAZCugLAAAEACSqxAAdCugBAAAEACSqxAwBEsSQBiFFYsECIWLEDZESxJgGIUVi6CIAAAQRAiGNUWLEDAERZWVlZswwCAQwquAH/hbAEjbECAEQAAA==') format('truetype');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31648639#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search:before { content: '\f50d'; } /* 'Ôîç' */
// styles for 0up

.icon {
	  font-family: 'fontello' !important;
}