/* ############ page.scss ############ */
#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  h1, .h1 {
    font-size: 2.5em; }
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

/* ############ contact.scss ############ */
#main-content #container {
  position: relative;
  font-size: 1.0em; }

#main-content .container.two-columns .column.left-column, #main-content .container.two-columns .column.right-column, #main-content .container-1024.two-columns .column.left-column, #main-content .container-1024.two-columns .column.right-column {
  float: none;
  margin: 0;
  width: 100%; }

#main-content .container.two-columns .column.right-column, #main-content .container-1024.two-columns .column.right-column {
  float: none;
  margin: 3em 0 0; }

#main-content .container.two-columns .contact-block, #main-content .container-1024.two-columns .contact-block {
  margin-bottom: 50px;
  border-bottom: 1px solid #8DA6B8;
  padding-bottom: 50px; }
  #main-content .container.two-columns .contact-block#plan-meeting, #main-content .container-1024.two-columns .contact-block#plan-meeting {
    border-bottom: none;
    margin-bottom: 0; }
  #main-content .container.two-columns .contact-block h4, #main-content .container-1024.two-columns .contact-block h4 {
    font-size: 15px;
    font-family: 'Proxima Nova Semibold', Arial, Helvetica, sans-serif; }
  #main-content .container.two-columns .contact-block .align-left, #main-content .container-1024.two-columns .contact-block .align-left {
    float: left;
    width: 49.99%; }
  #main-content .container.two-columns .contact-block .align-right, #main-content .container-1024.two-columns .contact-block .align-right {
    float: right;
    width: 49.99%; }
  #main-content .container.two-columns .contact-block strong, #main-content .container-1024.two-columns .contact-block strong {
    color: #565656;
    font-family: "Proxima Nova Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.driving-directions-utils {
  position: absolute;
  right: 0;
  top: 5px; }

.driving-directions-utils a {
  display: inline-block;
  *display: inline;
  width: 32px;
  height: 27px;
  margin-left: 10px;
  text-indent: -99999em;
  overflow: hidden;
  zoom: 1; }

.driving-directions-utils a.print {
  background: url("/wp-content/themes/luskin/library/images/driving-directions-utils.png") no-repeat center 0; }

.driving-directions-utils a.see-map {
  background: url("/wp-content/themes/luskin/library/images/driving-directions-utils.png") no-repeat center -34px; }

.driving-directions-utils .separator {
  display: inline-block;
  *display: inline;
  height: 27px;
  width: 0;
  margin-left: 10px;
  border-left: 1px solid #ccc;
  zoom: 1; }

@media only screen and (min-width: 640px) {
  #main-content .container.two-columns .column.left-column, #main-content .container.two-columns .column.right-column, #main-content .container-1024.two-columns .column.left-column, #main-content .container-1024.two-columns .column.right-column {
    float: left;
    margin: 0;
    width: 47%; }
  #main-content .container.two-columns .column.right-column, #main-content .container-1024.two-columns .column.right-column {
    float: right;
    margin: 0; }
  #main-content .container.two-columns .contact-block, #main-content .container-1024.two-columns .contact-block {
    margin-bottom: 50px;
    border-bottom: 1px solid #8DA6B8;
    padding-bottom: 50px; }
    #main-content .container.two-columns .contact-block#plan-meeting, #main-content .container-1024.two-columns .contact-block#plan-meeting {
      border-bottom: none;
      margin-bottom: 50px; }
    #main-content .container.two-columns .contact-block .align-left, #main-content .container-1024.two-columns .contact-block .align-left {
      float: left;
      width: 49.99%; }
    #main-content .container.two-columns .contact-block .align-right, #main-content .container-1024.two-columns .contact-block .align-right {
      float: right;
      width: 49.99%; }
    #main-content .container.two-columns .contact-block strong, #main-content .container-1024.two-columns .contact-block strong {
      color: #565656;
      font-family: "Proxima Nova Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; } }
