/* ############ page.scss ############ */
#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  h1, .h1 {
    font-size: 2.5em; }
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

/* ############ amennities-services.scss ############ */
#main-content .amenities h2 {
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1.15;
  margin: 0 0 10px 0;
  text-transform: uppercase; }

#main-content .amenities .amenities-description,
#main-content .amenities .room-amenities {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5; }
  #main-content .amenities .amenities-description p,
  #main-content .amenities .room-amenities p {
    margin-bottom: 30px; }

#main-content .amenities .services .service-wrapper {
  float: left;
  width: 49.99%; }
  #main-content .amenities .services .service-wrapper.rooms, #main-content .amenities .services .service-wrapper .rooms {
    width: 45%;
    margin-right: 4.9%; }
  #main-content .amenities .services .service-wrapper:last-child .service {
    border-bottom: 0; }
  #main-content .amenities .services .service-wrapper.even .service {
    margin-left: 0; }
  #main-content .amenities .services .service-wrapper.odd .service {
    margin-right: 0; }

.guest-services {
  padding: 0 0 20px 0; }

.service {
  border-bottom: 1px solid #8DA6B8;
  color: #000;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 10px;
  min-height: 75px;
  padding: 0;
  position: relative;
  zoom: 1; }
  .service .icon {
    background: url("/wp-content/themes/luskin/library/images/amenities3.png") no-repeat center 0;
    bottom: 0;
    display: block;
    height: 32px;
    left: 20px;
    margin: auto;
    position: absolute;
    right: auto;
    top: 0;
    width: 32px; }
  .service .service-name {
    display: table;
    height: 75px;
    padding: 0 10px 0 70px; }
    .service .service-name span {
      display: table-cell;
      vertical-align: middle; }
  .service.business-center {
    border-bottom: 0; }
  .service.none, .service.none-none, .service.first {
    margin: 0;
    padding: 0 0 0 20px; }
  .service.first {
    border-top: 1px solid #8DA6B8; }
  .service.bullet-round {
    background: url("/wp-content/themes/luskin/library/images/round-bullet.png") no-repeat center 0; }
  .service.ada-rooms-services .icon {
    background-position: center -632px; }
  .service.bell-service .icon,
  .service.porter-service .icon {
    height: 34px;
    background-position: center -471px; }
  .service.business-center .icon,
  .service.extensive-business-center .icon {
    background-position: center -320px; }
  .service.campus-shuttle .icon {
    background-position: center -711px; }
  .service.complimentary-coffee-refreshments .icon {
    height: 34px;
    background-position: center -1086px; }
  .service.daily-housekeeping .icon {
    height: 34px;
    background-position: center -1156px; }
  .service.concierge .icon {
    background-position: center -395px; }
  .service.dry-cleaning .icon {
    height: 34px;
    background-position: center -547px; }
  .service.express-room-service .icon {
    background-position: center -159px; }
  .service.event-planning-services .icon {
    background-position: center -1015px; }
  .service.full-service-catering .icon {
    background-position: center -865px; }
  .service.integrated-audio-visual-technology-support .icon {
    background-position: center -940px; }
  .service.on-site-fitness-center .icon {
    background-position: center -790px; }
  .service.restaurant-and-lounge .icon,
  .service.group-dining-options .icon {
    background-position: center -82px; }
  .service.valet-parking .icon,
  .service.event-parking .icon {
    background-position: center -237px; }
  .service.wi-fi .icon {
    background-position: center 0; }

/* additional accommodations */
.additional-ucla-accommodations {
  padding-bottom: 40px; }

@media only screen and (max-width: 639px) {
  #main-content .amenities .services .service-wrapper {
    width: 100%; }
    #main-content .amenities .services .service-wrapper .service {
      margin: 0; }
      #main-content .amenities .services .service-wrapper .service.business-center {
        border-bottom: 1px solid #8DA6B8; } }

@media only screen and (min-width: 931px) {
  #main-content .amenities {
    padding: 10px 20px 60px; }
    #main-content .amenities .amenities-description,
    #main-content .amenities .room-amenities {
      float: left;
      width: 35%; }
    #main-content .amenities .services {
      float: right;
      width: 60%; } }

.capacities table {
  border-collapse: collapse;
  border-color: #000000;
  border-style: none;
  border-width: 0px;
  margin-bottom: 30px;
  margin-top: 4px;
  width: 100%; }
  .capacities table thead tr td {
    color: #3284BF;
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.133;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    vertical-align: middle;
    widows: 1; }
  .capacities table thead tr td:nth-child(1) {
    text-align: left; }
  .capacities table tbody tr:nth-child(odd) {
    background-color: #EAEBEC; }
  .capacities table tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: top;
    color: #000000;
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1; }
    .capacities table tbody tr td:nth-child(1) {
      width: 30%;
      text-align: left; }

#press-release-table {
  width: 100%;
  padding: 0; }

tr.releases.first {
  border-top: 1px solid #CCCCCC; }

tr.releases {
  border-bottom: 1px solid #CCCCCC;
  height: 30px;
  width: 100%; }

tr.releases,
tr.releases td {
  margin-left: 0;
  padding: 5px 0; }

.releases td {
  vertical-align: middle; }

.releases td.date,
.releases td.title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.releases td.date {
  width: 10%; }

.releases td.title {
  padding-left: 2%;
  width: 78%; }

.releases td.download {
  text-align: right; }

.releases td.title a {
  text-decoration: none; }

/* ############ meetings-floorplan.scss ############ */
.floorplan-heading {
  position: relative;
  padding: 28px 50px 28px 0;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 40px 0;
  text-align: center; }

.bx-controls-direction {
  margin-top: -23px;
  right: 0;
  z-index: 101; }

.service .service-name {
  padding: 0 10px; }

.res-columns a.button-alt {
  background-position-x: 104%;
  padding: 10px 40px 10px 10px; }

.highlights {
  margin-top: -19px; }

ul {
  list-style-type: disc;
  margin-left: 1em; }
  ul li {
    line-height: 2em; }

@media screen and (max-width: 878px) {
  .res-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0; } }
