/* ############ page.scss ############ */
.brand-light-blue {
  color: #00A5E5; }

#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  h1, .h1 {
    font-size: 2.5em; }
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

.video-container {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
  max-width: 100%; }

/* ############ news.scss ############ */
.ingredients-subheading {
  font-size: 1.1em;
  font-weight: bold;
  font-size: 1.1em; }

.no-margin-top {
  margin-top: 0px; }

.margin-bottom-0px {
  margin-bottom: 0px; }

#main-content .full-width-gallery,
.news .full-width-gallery {
  margin-bottom: 4px; }

#main-content .news-ribbon,
.news .news-ribbon {
  background: #968c83;
  height: 60px;
  min-height: 60px;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  line-height: 1.25em; }
  #main-content .news-ribbon span,
  #main-content .news-ribbon .caption,
  .news .news-ribbon span,
  .news .news-ribbon .caption {
    margin-top: 1.2em;
    float: none;
    display: inline-block;
    height: 1.1em;
    font-size: 10px;
    line-height: 1.2em; }

#main-content h1,
.news h1 {
  text-align: left;
  margin: 30px 0; }

#main-content h3,
.news h3 {
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#main-content ul,
.news ul {
  padding-left: 0;
  list-style: disc; }
  #main-content ul li,
  .news ul li {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    margin-bottom: .75em; }

#main-content a.button-abt.left-arrow,
.news a.button-abt.left-arrow {
  padding: 10px 10px 10px 45px;
  background-position: 10px -341px; }

#main-content a.button-abt.right-arrow,
.news a.button-abt.right-arrow {
  background-position: 105% -241px; }

#main-content .caption,
.news .caption {
  color: #FFFFFF; }

#main-content .callout,
.news .callout {
  background: #aca39a;
  border: none;
  padding-top: 30px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  #main-content .callout p,
  .news .callout p {
    color: #FFFFFF;
    font-family: 'adobe-caslon-pro', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0px 30px;
    padding-bottom: 0px;
    width: 87%; }
  #main-content .callout .room,
  .news .callout .room {
    font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal; }
    #main-content .callout .room .first,
    .news .callout .room .first {
      padding-top: 20px; }
  #main-content .callout .attribution,
  .news .callout .attribution {
    font-family: 'adobe-caslon-pro', serif;
    font-size: 17px;
    font-style: normal;
    font-variant: small-caps;
    margin-bottom: 0; }
    #main-content .callout .attribution.last,
    .news .callout .attribution.last {
      border-bottom: none;
      padding-bottom: 40px; }
  #main-content .callout.last,
  .news .callout.last {
    margin-bottom: 30px; }

#main-content .news-content,
.news .news-content {
  margin: 0 auto 3em 0; }
  #main-content .news-content p,
  .news .news-content p {
    margin-bottom: 2em; }
    #main-content .news-content p a,
    #main-content .news-content p a:hover,
    #main-content .news-content p a:visited,
    .news .news-content p a,
    .news .news-content p a:hover,
    .news .news-content p a:visited {
      font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #00A5E5;
      text-decoration: none; }
    #main-content .news-content p a:visited,
    #main-content .news-content p a:active,
    .news .news-content p a:visited,
    .news .news-content p a:active {
      color: #00A5E5;
      font-weight: bold; }

#main-content .page-col-onethird,
.news .page-col-onethird {
  float: none;
  width: 100%; }
  #main-content .page-col-onethird h3,
  .news .page-col-onethird h3 {
    color: #1C4D71; }

#main-content .page-col-twothird,
.news .page-col-twothird {
  float: none;
  margin-right: 10px;
  width: 100%; }
  #main-content .page-col-twothird video,
  .news .page-col-twothird video {
    max-width: 100% !important;
    height: auto !important; }

#main-content .res-content a,
#main-content .res-content a:visited,
#main-content .res-content a:active,
.news .res-content a,
.news .res-content a:visited,
.news .res-content a:active {
  color: #3185C0;
  font-weight: bold; }

#main-content a:hover,
.news a:hover {
  color: #3185C0;
  text-decoration: none; }

.container .news-inline-image-left,
.container .news-inline-image-right {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 1.6em; }
  .container .news-inline-image-left .news-inline-image-caption,
  .container .news-inline-image-right .news-inline-image-caption {
    display: inline-block;
    max-width: 320px; }
  .container .news-inline-image-left .news-inline-image-credit,
  .container .news-inline-image-right .news-inline-image-credit {
    display: inline-block;
    font-style: italic;
    max-width: 320px; }

.container .news-inline-image-left {
  margin-right: auto;
  float: none; }

.container .news-inline-image-right {
  margin-left: auto;
  float: none; }

.container .recipe-ingredients {
  background: #aca39a;
  width: auto;
  float: left;
  text-align: left;
  padding: 10px 30px;
  margin-right: 40px; }
  .container .recipe-ingredients h4 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px; }
  .container .recipe-ingredients ul {
    list-style: square;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 15px; }
    .container .recipe-ingredients ul li {
      color: #FFFFFF; }

.container .recipe-directions h4,
.container .recipe-directions p {
  margin-bottom: 10px;
  padding-bottom: 0; }

.news-sidebar {
  background: rgba(215, 210, 203, 0.25);
  float: right;
  margin-left: 50px;
  padding: 50px;
  width: 33.3%; }

#main-content .news-sidebar-content h3 {
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: left; }

#main-content .news-sidebar-content ul {
  margin: 0 0 50px 0;
  list-style-type: none; }
  #main-content .news-sidebar-content ul li {
    border-bottom: 1px solid #8da6b8;
    margin: 0;
    padding: 10px 0; }
    #main-content .news-sidebar-content ul li a {
      font-size: 16px;
      font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #1C4D71; }

#main-content .news-pagination {
  margin: 30px auto 60px auto; }

@media only screen and (min-width: 768px) {
  #main-content .page-col-onethird {
    float: right;
    width: 30%; }
  #main-content .page-col-twothird {
    float: left;
    margin-right: 3%;
    width: 66%; }
  #main-content .news-ribbon {
    background: #968c83;
    height: 60px;
    min-height: 60px;
    font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 61px; }
    #main-content .news-ribbon span {
      margin-top: 0;
      font-size: 18px;
      display: inline-block;
      height: 60px;
      line-height: 61px; }
    #main-content .news-ribbon .caption {
      font-size: 12px;
      float: right;
      line-height: 2.95em; }
  .container .news-inline-image-left {
    margin-right: 20px;
    float: left; }
  .container .news-inline-image-right {
    margin-left: 20px;
    float: right; } }

@media only screen and (min-width: 1030px) {
  #main-content .container .recipe-ingredients {
    width: 40%; }
    #main-content .container .recipe-ingredients p {
      margin-bottom: 10px;
      color: white; }
    #main-content .container .recipe-ingredients ul {
      margin-bottom: 30px; }
  #main-content .container .recipe-directions {
    width: auto; }
    #main-content .container .recipe-directions p {
      margin-bottom: 10px; } }
