/* ############ one-column.scss ############ */
.wp-video {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.catering-menu li {
  margin-bottom: 10px; }

.cmp-bullet-list {
  list-style: disc; }
