/* ############ page.scss ############ */
#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  h1, .h1 {
    font-size: 2.5em; }
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

/* ############ partner-signup.scss ############ */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.prefield_normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: inline;
  vertical-align: middle; }

.style1 {
  font-size: 13px; }

.style2 {
  font-size: 13px; }

td, th {
  border-left: solid 1px black; }

.border-side {
  border-left: solid 1px black; }

.border-bottom {
  border-bottom: solid 1px black; }

.marginLeft {
  margin-left: 10px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.wFormTitle {
  display: none; }

form, fieldset {
  background-image: none !important;
  background-color: transparent !important; }

#formContainer {
  width: 100%;
  max-width: 650px;
  margin: 0 auto; }

.wForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }

.wForm .inputWrapper {
  width: 100%;
  display: block;
  padding: 0 0 15px 0;
  margin: 0; }

.float {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

select, input[type="text"], input[type="email"], input[type="tel"] {
  width: 100% !important;
  max-width: 650px;
  padding: 4px !important;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input[type="checkbox"] {
  margin: 0; }

label.label.preField.checkLabel {
  display: block;
  padding-left: 22px;
  text-indent: -19px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.float label {
  padding: 0px 10px 0px 10px; }

.wForm fieldset {
  margin-left: 14px;
  margin-right: 14px; }

.wForm .postField {
  margin: 0; }

.wForm .secondaryAction, .wForm .primaryAction, .wForm .wfPagePreviousButton, .wForm .wfPageNextButton {
  background-image: none;
  border-radius: 0; }

input[type="submit"] {
  padding: 10px 20px !important;
  color: #FFFFFF !important;
  font-size: 14px !important;
  width: 220px;
  min-height: 48px;
  display: inline-block;
  cursor: pointer;
  font-weight: normal !important;
  text-transform: uppercase;
  background-color: #47718E !important;
  background-image: none;
  border: 0 !important;
  outline: 0 !important;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #184363 !important; }

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type=checkbox], input[type=radio] {
  -webkit-transform: scale(1, 1) !important;
  display: inline;
  vertical-align: middle; }

.wForm input[type="checkbox"] {
  width: auto !important;
  height: auto !important; }

.wForm input[type="radio"] {
  width: auto !important;
  height: auto !important; }

.wForm select {
  padding: 2px !important;
  margin: 0px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.wForm form .errFld .errMsg {
  color: #BB0D10;
  padding-bottom: 4px; }

.errMsg::before {
  content: "\21D1";
  color: #BB0D10; }

.container .wFormContainer {
  border-style: none !important;
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wFormContainer .errMsg {
  padding-left: 0px !important; }

.oneField.errFld input {
  border: 1px solid #BB0D10 !important; }

.wForm form .errFld {
  border: none; }

.wForm .oneField {
  border: none; }

.supportInfo {
  display: none; }

.wForm input, .wForm textarea, .wForm .preField, .wForm .postField {
  max-width: 650px !important; }

/* Smaller Screens */
@media only screen and (max-width: 400px) {
  .float {
    width: 100%; } }

@media only screen and (min-width: 1030px) {
  .page-template-template-partner-form .wFormContainer {
    width: inherit; }
  .page-template-template-partner-form .wForm {
    max-width: inherit; }
    .page-template-template-partner-form .wForm .oneField {
      width: 100%;
      margin-bottom: 20px;
      display: block; } }
