/* ############ page.scss ############ */
#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

/* ############ page.scss ############ */
#page-310 {
  margin-top: 55px; }

.hero-image-container, .full-width-gallery {
  margin-bottom: 30px; }

.hero-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

/* quick facts */
.quick-facts {
  position: relative;
  margin-top: 25px;
  margin-bottom: 60px;
  border-top: 1px solid #8DA6B8;
  padding-top: 40px; }

.quick-facts-description {
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 100%; }

.quick-facts-description h3 {
  margin: 40px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.quick-facts-button {
  margin-top: 30px; }

.generic-button {
  float: left;
  margin-right: 30px; }

/* call out */
.callout {
  display: inline-block;
  width: inherit;
  margin: 0px;
  padding: 20px 0px 30px 0px;
  border-top: 1px solid #8DA6B8;
  font-family: 'Adobe Caslon Pro', serif;
  font-style: italic;
  font-size: 200%;
  line-height: 1.75em;
  color: #8da6b8;
  text-align: center; }

.text-overlay {
  bottom: -.5em;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  left: 0.7em;
  line-height: 1.6em;
  position: absolute;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  .text-overlay {
    font-size: 2.5em;
    left: 0.5em; } }

@media only screen and (min-width: 640px) {
  .text-overlay {
    font-size: 3.5em;
    left: 0.3em; } }

@media only screen and (min-width: 768px) {
  .text-overlay {
    font-size: 4.25em;
    left: 0.25em; } }

@media only screen and (min-width: 1030px) {
  .text-overlay {
    font-size: 5em; } }

@media only screen and (min-width: 1240px) {
  .text-overlay {
    font-size: 7em;
    left: 0.15em; } }

/* ############ masonry-gallery.scss ############ */
/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll; }

body {
  background: #f4f4f4; }

/* ---- grid ---- */
#main-content #gallery-container {
  margin-top: 25px;
  max-width: 1180px;
  padding: 0 20px;
  /* clear fix */
  /* ---- .element-item ---- */ }
  #main-content #gallery-container :after {
    content: '';
    display: block;
    clear: both; }
  #main-content #gallery-container .item {
    float: left;
    margin-bottom: 20px; }
    #main-content #gallery-container .item a {
      display: block;
      position: relative; }
    #main-content #gallery-container .item img {
      display: block;
      max-width: 100%; }

.gallery-filters-wrapper {
  background: #fff;
  box-shadow: 1px 1px 0 0 #e3e3e3;
  display: block;
  float: right;
  height: 58px;
  margin: 55px 0 27px 0;
  max-width: 380px;
  position: relative;
  width: 100%; }

#gallery-filters {
  -moz-appearance: text-field;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent !important;
  border: none;
  box-sizing: border-box;
  color: #737373;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 58px;
  left: 0;
  line-height: 1;
  opacity: 0;
  padding: 25px 0 0 30px;
  position: absolute;
  text-indent: 0.01px;
  text-overflow: '';
  text-transform: uppercase;
  top: 0;
  width: 100%; }

#gallery-filters::-ms-expand {
  display: none; }

.gallery-filters-wrapper span {
  background: url("/wp-content/themes/luskin/library/images/dropdown-arrow.png") no-repeat right center;
  color: #737373;
  display: block;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  padding: 0 50px 0 30px;
  text-transform: uppercase; }

@media only screen and (min-width: 1180px) {
  #main-content #gallery-container {
    padding: 0; } }

/* ############ room-gallery.scss ############ */
