// ############ modules/forms.scss ############

// ******************************************************************
// Stylesheet: Table Styles
// ******************************************************************

// capacity table

table.Basic-Table {
  border-collapse:collapse;
  border-color:#000000;
  border-style:solid;
  border-width:1px;
  margin: 4px auto;
}
td.Basic-Table {
  border: 1px solid #666;
  padding: 8px;
  vertical-align:top;
}
p.Basic-Paragraph {
  color:#000000;
  font-family:"Minion Pro", serif;
  font-size:14px;
  line-height: 22px;
  margin: 0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
p.Table-body-copy {
  color:#000000;
  font-family:"Proxima Nova Regular", sans-serif;
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  line-height:22px;
  margin: 0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
p.Table-headings {
  color:#FFF;
  font-family:"Proxima Nova Regular", sans-serif;
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  line-height: 22px;
  margin: 0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:center;
  text-decoration:none;
  text-indent:0;
  text-transform:uppercase;
  widows:1;
}
p.Table-parenthetical-text {
  color:#FFFFFF;
  font-family:"Proxima Nova Regular", sans-serif;
  font-size:16px;
  font-style:italic;
  font-variant:normal;
  line-height:1.286;
  margin: 0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:center;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
p.table-level-heading {
  color:#000000;
  font-family:"Proxima Nova Semibold", sans-serif;
  font-size:16px;
  font-style:italic;
  font-variant:normal;
  line-height: 22px;
  margin: 0;
  orphans:1;
  page-break-after:auto;
  page-break-before:auto;
  text-align:left;
  text-decoration:none;
  text-indent:0;
  text-transform:none;
  widows:1;
}
table.TableOverride-1 {
  border-collapse:collapse;
}
td.CellOverride-1, td.CellOverride-2, td.CellOverride-3, td.CellOverride-4 {
  background: #1C4D71;
  }
td.CellOverride-1 {
  padding-left: 10px;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#4c4c4c;
  border-top-style:solid;
  border-top-width:0px;
  vertical-align:middle;
}
td.CellOverride-2 {
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#4c4c4c;
  border-top-style:solid;
  border-top-width:0px;
  vertical-align:middle;
}
td.CellOverride-3 {
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#4c4c4c;
  border-top-style:solid;
  border-top-width:0px;
  vertical-align:middle;
}
td.CellOverride-4 {
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#4c4c4c;
  border-top-style:solid;
  border-top-width:0px;
  vertical-align:middle;
}
td.CellOverride-5 {
  padding-left: 10px;
  background-color:#e5ebf5;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-6 {
  background-color:#e5ebf5;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-7 {
  background-color:#e5ebf5;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-8 {
  background-color:#e5ebf5;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-9 {
  padding-left: 10px;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#262626;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#262626;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#262626;
  border-top-style:solid;
  border-top-width:0px;
  vertical-align:middle;
}
td.CellOverride-10 {
  padding-left: 10px;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#262626;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#262626;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-11 {
  padding-left: 10px;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#125187;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#125187;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-12 {
  padding-left: 10px;
  background-color:#e1e7f4;
  border-bottom-color:#262626;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-13 {
  background-color:#e1e7f4;
  border-bottom-color:#262626;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#000000;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-14 {
  background-color:#e1e7f4;
  border-bottom-color:#262626;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#000000;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-15 {
  background-color:#e1e7f4;
  border-bottom-color:#262626;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#4c4c4c;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#4c4c4c;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
td.CellOverride-16 {
  padding-left: 10px;
  border-bottom-color:#262626;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#125187;
  border-left-style:solid;
  border-left-width:0px;
  border-right-color:#125187;
  border-right-style:solid;
  border-right-width:0px;
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  vertical-align:middle;
}
p.ParaOverride-1 {
  text-align:left;
}
p.ParaOverride-2 {
  text-align:center;
}
span.CharOverride-1 {
  font-size:14px;
  font-style:italic;
  font-weight:normal;
}
td._idGenCellOverride-1 {
  border-top-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
}
col._idGenTableRowColumn-1 {
  width: 28.5%;
}
col._idGenTableRowColumn-2 {
  width: 14.25%;
}
col._idGenTableRowColumn-3 {
  width: 14.25%;
}
col._idGenTableRowColumn-4 {
  width: 14.25%;
}
tr._idGenTableRowColumn-5 {
  height: 80px;
  min-height:80px;
}
tr._idGenTableRowColumn-6 {
  min-height:18px;
}
tr._idGenTableRowColumn-7 {
  height:16px;
}
td.CellOverride-4 {
  width: 14.25%;
}

// press-release-table

#press-release-table {
  width: 100%;
  padding: 0;
}

tr.releases.first {
  border-top: 1px solid #CCCCCC;
}

tr.releases {
  border-bottom: 1px solid #CCCCCC;
  height: 30px;
  width: 100%;
}

tr.releases, tr.releases td {
  margin-left: 0;
  padding: 5px 0;
}

.releases td {
  vertical-align: middle;
}

.releases td.date, .releases td.title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: $sans-serif;
}

.releases td.date {
  width: 10%;
}

.releases td.title {
  padding-left: 2%;
  width: 78%;
}

.releases td.download {
  text-align: right;
}

.releases td.title a {
  text-decoration: none;
}
