/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!
******************************************************************/

/******************************************************************
 * LAYOUT & GRID STYLES
 ******************************************************************/

#main-content {
  #container {
    position: relative;
    font-size: 1.0em;
  }

  .container, .container-1024 {}
}

/******************************************************************
 * SIDEBARS & ASIDES STYLES
 ******************************************************************/

.sidebar {
  margin-top: 2.2em;
}

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

.widget {
  padding: 0 10px;
  margin: 2.2em 0;

  ul {
    li {
      margin-bottom: 0.75em;

      &:first-child {}

      &:last-child {}

      a {}

      /* deep nesting */

      ul {
        margin-top: 0.75em;
        padding-left: 1em;
      }
    }
  }
}

/******************************************************************
 * MEDIA OVERRIDE STYLES
 ******************************************************************/

h1, .h1 {
    font-size: 2.75em;
}

// @media screen and (max-width: 1024px) {
//   #slideshow-container {
//     .bx-controls-direction {
//       display: block;
//     }
//     height: calc(100% - 60px);
//   }

//   /* slideshow */

//   .home-slideshow .slide-overlay {
//     left: 0;
//     right: 0;
//     top: 70px;
//     text-align: center;
//     max-width: 90%;
//     width: 100%;
//     margin: 0 auto;
//   }

//   #slideshow-container .action-buttons {
//     display: block;
//     bottom: 75px;
//     left: 0;
//     right: 0;
//     top: auto;
//     width: 100%;
//     max-width: 656px;
//     margin: 0 auto;
//   }

//   .action-buttons .action-button-wrapper {
//     float: left;
//     width: 49.99%;

//     a {
//       margin-bottom: 15px;
//     }

//     &.odd a {
//       margin-right: 9px;
//     }

//     &.even a {
//       margin-left: 9px;
//     }
//   }

//   .home-slideshow .slide-description {
//     left: 0;
//     right: 0;
//     bottom: 125px;
//     width: 100%;
//     text-align: center;
//   }

//   #slideshow-container .bx-controls {
//     left: 0;
//     right: 0;
//     bottom: 125px;
//     width: 100%;
//     text-align: center;
//     bottom: 46px;

//     .bx-pager {
//       display: none;
//     }
//   }

//   .home-slideshow .slide-description {
//     bottom: 52px;
//   }

//   a.button-alt {
//     min-width: 0;
//     width: 100%;
//     box-sizing: border-box;
//   }

//   .room-col .content ul {
//     width: auto;
//   }

//   .amenities {
//     padding-bottom: 0;

//     .amenities-description {
//       float: none;
//       width: auto;
//     }

//     .services {
//       margin-left: 0;
//     }
//   }

//   .driving-directions-utils {
//     a.print, .separator, a.see-map {
//       display: none;
//     }
//   }

//   .contact-option:before {
//     font-size: 14px;
//     top: 4px;
//   }
// }

// @media screen and (max-width: 960px) {
//   .full-width-gallery img {
//     display: none;

//     &.mobile-image {
//       display: block;
//     }
//   }

//   .gallery-pager a {
//     width: 33.33%;
//   }

//   .event-planning-resources {
//     .left-column {
//       float: left;
//       width: 48%;
//     }

//     .right-column {
//       float: right;
//       width: 48%;
//     }

//     .middle-column {
//       float: none;
//       clear: both;
//       width: 100%;
//       margin: 0;
//       padding-top: 25px;
//     }

//     .column .inner-wrapper {
//       padding: 0;
//     }
//   }

//   .restaurant-block .restaurant-block-wrapper {
//     padding-left: 25px;
//     padding-right: 25px;
//   }

//   .page-heading h1 {
//     margin: 30px 0 15px 0;
//     padding: 0;
//     font-size: 1.75em;
//     font-family: $semibold-sans-serif;
//     text-transform: uppercase;
//     color: #47718E;
//     line-height: 1em;
//   }

//   h2, .two-columns h2 {
//     font-size: 1.25em;
//   }
// }

// @media screen and (max-width: 780px) and (orientation: portrait) {
//   #slideshow-container {
//     .slideshow {
//       display: none;
//     }

//     .slideshow-portrait {
//       display: block;
//     }
//   }
// }

// @media screen and (max-width: 780px) and (orientation: landscape) {
//   #slideshow-container {
//     .slideshow {
//       display: block;
//     }

//     .slideshow-portrait {
//       display: none;
//     }
//   }
// }

// @media screen and (max-width: 780px) {
//   .home-slideshow .slide-overlay {
//     top: 125px;
//   }

//   #slideshow-container {
//     .action-buttons {
//       bottom: 250px;
//       top: auto;
//     }

//     .bx-controls-direction {
//       .bx-prev {
//         margin-left: 119px;
//       }

//       .bx-next {
//         margin-right: 119px;
//       }
//     }
//   }

//   .plan-your-visit {
//     background: #fff;
//   }

//   .content-tabs .gallery {
//     max-height: none;
//     margin-top: 35px;
//   }

//   .gallery {
//     .bx-prev, .bx-next {
//       top: 29%;
//     }

//     .overlay {
//       position: relative;
//       top: auto;
//       left: auto;
//       right: auto;
//       width: 100%;
//       height: auto;
//       padding: 25px 0 0 0;
//       font-size: 18px;
//       color: #4d4d4d;
//       font-family: $semibold-sans-serif;
//       background: none;

//       h4 {
//         margin-bottom: 10px;
//         font-size: 30px;
//         color: #4d4d4d;
//       }

//       .ext-link {
//         position: static;
//         display: inline-block;
//         *display: inline;
//         border: 0;
//         margin: 20px inherit;
//         padding: 20px;
//         color: #fff;
//         background: #ffb200;
//         zoom: 1;
//       }
//     }
//   }

//   #mobile-gallery-nav {
//     display: block;
//   }

//   #gallery-bx-pager {
//     display: none;
//   }

//   .explore-title {
//     position: absolute;
//     bottom: 15px;
//     left: 0;
//     font-size: 2.5em;
//     min-height: 450px;
//     min-width: 100%;
//     letter-spacing: .05em;
//   }
// }
