/******************************************************************
 * Stylesheet: Base Mobile Stylesheet
 *
 * Be light and don't over style since everything here will be
 * loaded by mobile devices. You want to keep it as minimal as
 * possible. This is called at the top of the main stylsheet
 * and will be used across all viewports.
 ******************************************************************/

/******************************************************************
 * BASE STYLES
 ******************************************************************/

html {
  overflow-y: scroll;
}

body {
  background-color: $text-color-bg;
  color: $text-color;
  font-family: $sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

em {
  font-family: $italic-sans-serif;
  font-style: italic;
}

textarea {
  overflow: auto;
}

input[type='radio'] {
  vertical-align: text-bottom;
}

input[type='checkbox'] {
  vertical-align: bottom;
}

label, input[type='button'], input[type='submit'], input[type='image'], button {
  cursor: pointer;
}

button, input, select, textarea, .container p {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 100%;
  margin: 0;
}

button {
  width: auto;
  overflow: visible;
}

/******************************************************************
 * WORDPRESS BODY CLASSES; style a page via class
 ******************************************************************/

/* for sites that are read right to left (i.e. hebrew) */
.rtl {}

/******************************************************************/

/* home page */
.home {}

/******************************************************************/

/* blog template page */
.blog {}

/******************************************************************/

/* archive page */
.archive {}

/* date archive page */
.date {}

/******************************************************************/

/* replace the number to the corresponding page number */
.date-paged-1 {}

/******************************************************************/

/* search page */
.search {}

/* search result page */
.search-results {}

/* no results search page */
.search-no-results {}

/* individual paged search (i.e. body.search-paged-3) */
.search-paged-1 {}

/******************************************************************/

/* 404 page */
.error404 {}

/******************************************************************/

/* single post page */
.single {}

/* individual post page by id (i.e. body.postid-73) */
.postid-1 {}

/* individual paged single (i.e. body.single-paged-3) */
.single-paged-1 {}

/******************************************************************/

/* attatchment page */
.attachment {}

/* individual attatchment page (i.e. body.attachmentid-763) */
.attachmentid-1 {}

/* style mime type pages */
.attachment-mime-type {}

/******************************************************************/

/* author page */
.author {}

/* user nicename (i.e. body.author-samueladams) */
.author-nicename {}

/* paged author archives (i.e. body.author-paged-4) for page 4 */
.author-paged-1 {}

/******************************************************************/

/* category page */
.category {}

/* individual category page (i.e. body.category-6) */
.category-1 {}

/* replace the number to the corresponding page number */
.category-paged-1 {}

/******************************************************************/

/* tag page */
.tag {}

/* individual tag page (i.e. body.tag-news) */
.tag-slug {}

/* replace the number to the corresponding page number */
.tag-paged-1 {}

/******************************************************************/

/* custom page template page */
.page-template {}

/* individual page template (i.e. body.page-template-contact-php */
.page-template-page-php {}

/* replace the number to the corresponding page number */
.page-paged-1 {}

/* parent page template */
.page-parent {}

/* child page template */
.page-child {}

/* replace the number to the corresponding page number */
.parent-pageid-1 {}

/******************************************************************/

/* if user is logged in */
.logged-in {}

/******************************************************************/

/* paged items like search results or archives */
.paged {}

/* individual paged (i.e. body.paged-3) */
.paged-1 {}

/******************************************************************
 * LAYOUT & GRID STYLES
 ******************************************************************/

#container {
  position: relative;
  font-size: 1.0em;
}

#main-content {
  min-height: 400px;

  .container, .container-1024 {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 20px;
    position: relative;

    &.two-columns {
      .column {
        &.left-column,
        &.right-column {
          float: none;
          margin: 0;
          width: 100%;

          .inner-wrapper {
            padding: 0;
          }
        }
      }
    }

    &.three-columns {
      .column {
        &.left-column,
        &.middle-column,
        &.right-column {
          float: none;
          margin: 0 0 3em;
          width: 100%;

          .inner-wrapper {
            padding: 0;
          }
        }
      }
    }

    .parents {
      h2 {
        color: $dark-blue;
        font-family: $semibold-sans-serif;
        font-size: 1.25em;
        letter-spacing: 0.05em;
        line-height: 1.15;
        margin: 0 0 10px 0;
        text-transform: uppercase;
      }
    }
  }

  .page-col-onethird,
  .page-col-thirds {
    float: left;
    width: 33%;
    min-height: 0;

    &.right {
      float: right;
    }

    img {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    h5 {
      margin: -5px 0 15px 50px;
      font-size: 20px;
      text-align: left;
      line-height: 1.375;
      letter-spacing: 0.05em;
      color: #FFF;
      text-transform: uppercase;
      font-family: $semibold-sans-serif;
    }

    h4 {
      margin: 0 0 5px 0;
      font-size: 16px;
      line-height: 1;
      color: #FFF;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-family: $semibold-sans-serif;
    }

    h3 {
      margin: 0;
      padding-bottom: 30px;
      font-family: $semibold-sans-serif;
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFF;
      text-align: center;
    }
  }

  .page-col-twothird {
    float: left;
    margin-right: 3%;
    width: 60%;

    &.right {
      float: right;
    }
  }

  .container-1024 {
    max-width: 1024px !important;
  }

  .top-20 {
    padding-top: 20px !important;
  }

  .top-30 {
    padding-top: 30px !important;
  }

  .bottom-20 {
    padding-bottom: 20px !important;
  }

  .bottom-30 {
    padding-bottom: 30px !important;
  }
}

.column-entry {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.5;
}

.column-entry img {
  display: block;
  max-width: 100%;
  margin-bottom: 25px;
}

.column-entry h4 {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 1.1;
  font-family: $semibold-sans-serif;
  color: #47718E;
}

.column-entry h4 a {
  color: #47718E;
}

.res-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 320px;
  -moz-column-width: 320px;
  column-width: 320px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.res-columns p {
  text-align: left;
  padding-bottom: 1em;
}

.column-break {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.caption {
  float: right;
  margin-top: -46px;
  font-family: $sans-serif;
  font-size: 10px;
}

.small-caption {
  font-family: $sans-serif;
  font-size: 12px;
  font-style: oblique;
  margin-bottom: 20px;
}

.entry-title {
  font-size: 30px;
  line-height: 1.15;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: $light-sans-serif;
}

h2.entry-title, .news h2 {
  font-size: 25px;
  line-height: 1.15;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: $semibold-sans-serif;
  color: #47718E;
}

div.entry-content {
  font-family: $light-sans-serif;
}

.two-columns {}

.two-columns .column {
  width: 47%;
}

.two-columns .parents-column.left-column {
  width: 55%;
  float: left;
}

.two-columns .parents-column.right-column {
  width: 42%;
  float: right;
}

.two-columns .parents-column img {
  width: 100%;
}

.two-columns .left-column {
  float: left;
}

.two-columns .right-column {
  float: right;
}

.column {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;
}

.column h3,
#press-release h3,
.news-sidebar-content h3 {
  margin: 0 0 20px 0;

  /*font-size: 30px;*/
  font-size: 25px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #47718E;
  font-family: 'Proxima Nova Semibold', Arial, Helvetica, sans-serif;
}

.column h4,
.parents-column h4 {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 1;
  font-family: 'Proxima Nova Semibold', Arial, Helvetica, sans-serif;
}

.column p,
.parents-column p,
.amenities p {
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: left;
}

.three-columns .column {
  float: left;
  width: 33.33%;
}

/******************************************************************
 * LINK STYLES
 ******************************************************************/

a, a:visited {
  color: $link-color;
  outline: none;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {
    color: $link-active;
  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

#main-content {
  a, a:visited {
    color: $alt-link-color;

    &:hover, &:focus {
      color: $alt-link-hover;
    }

    &:active {
      color: $alt-link-active;
    }
  }
}

/******************************************************************
 * H1, H2, H3, H4, H5 STYLES
 ******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizelegibility;
  font-weight: 400;

  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  color: $alt-dark-blue;
  font-family: $semibold-sans-serif;
  font-size: 1.75em;
  line-height: 1em;
  margin: 30px 0 15px 0;
  padding: 0;
  text-transform: uppercase;
}

h2, .h2 {
  color: $dark-blue;
  font-family: $semibold-sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  line-height: 1.15;
  margin: 0 0 10px 0;
  text-transform: uppercase;

  .subhead {
    color: $dark-blue;
    font-family: $semibold-sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    line-height: 1.15;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
}

h3, .h3 {
  font-size: 1.125em;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;

  // letter-spacing: 2px;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

.pagination {
  text-align: center;

  ul {
    display: inline-block;
    background-color: $light;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px;
  }

  li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid $gray;
  }

  a, span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: $blue;

    &:hover, &:focus {
      background-color: $blue;
      color: $light;
    }
  }

  .current {
    cursor: default;
    color: $text-color;

    &:hover, &:focus {
      background-color: $light;
      color: $text-color;
    }
  }
}

/* end .luskinPageNavi */

/* fallback previous & next links */
.wp-prev-next {
  ul {}

  .prev-link {
    float: left;
  }

  .next-link {
    float: right;
  }
}

/* end .wp-prev-next */

/******************************************************************
 * POSTS & CONTENT STYLES
 ******************************************************************/

.hentry {
  background-color: $text-color-bg;

  // border-radius: 3px;
  margin-bottom: 2.5em;

  // border: 1px solid $gray;

  header {
    border-bottom: 1px solid $light-gray;
    padding: 1.5em;
  }

  footer {
    padding: 1.5em;
    border-top: 1px solid $light-gray;

    p {
      margin: 0;
    }
  }
}

/* end .hentry */

.single-title,
.page-title,
.entry-title {
  margin: 0;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {}

/* want to style individual post classes? Booya! */
.post-id {}

/* post by id (i.e. post-3) */
.post {}

/* general post style */
.page {}

/* general article on a page style */
.attachment {}

/* general style on an attatchment */
.sticky {}

/* sticky post style */
.hentry {}

/* hentry class */
.category-slug {}

/* style by category (i.e. category-videos) */
.tag-slug {}

/* style by tag (i.e. tag-news) */

/* post meta */
.byline {
  color: $meta;
  font-style: italic;
  margin: 0;

  time {}
}

/* entry content */
.entry-content {
  padding: 0;

  p {
    margin: 0 0 1.5em;
  }

  ul, ol, table, dl {}

  ul, ol {
    li {}
  }

  ul {
    li {}
  }

  ol {
    li {}
  }

  table {
    width: 100%;
    border: 1px solid $gray;
    margin-bottom: 1.5em;

    caption {
      margin: 0 0 7px;
      font-size: 0.75em;
      color: $meta;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  tr {
    border-bottom: 1px solid $gray;

    &:nth-child(even) {
      background-color: $light-gray;
    }
  }

  td {
    padding: 7px;
    border-right: 1px solid $gray;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    background-color: $light-gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;

    &:last-child {
      border-right: 0;
    }
  }

  blockquote {
    margin: 0 0 1.5em 0.75em;
    padding: 0 0 0 0.75em;
    border-left: 3px solid $blue;
    font-style: italic;
    color: $meta;

    &:before {}
  }

  dl {}

  dt {}

  dd {
    margin-left: 0;
    font-size: 0.9em;
    color: #787878;
    margin-bottom: 1.5em;
  }

  img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto;
  }

  /* image alignment on a screen this size may be
  * a bit difficult. It's set to start aligning
  * and floating images at the next breakpoint,
  * but it's up to you. Feel free to change it up. */
  .alignleft, img.alignleft {}

  .alignright, img.alignright {}

  .aligncenter, img.aligncenter {}

  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: $dark;
    color: $light-gray;
    font-size: 0.9em;
    padding: 1.5em;
    margin: 0 0 1.5em;
    border-radius: 3px;
  }
}

/* end .entry-content */

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;

  /* images inside wp-caption */
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}

/* end .wp-caption */

.gallery {
  dl {
    a {}

    img {}
  }

  dt {}

  dd {}
}

/* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}

.size-large {}

.size-medium {}

.size-thumbnail {}

// the tag output
.tags {
  margin: 0;
}

/* reservation policy */
.reservation-policy {
  padding: 50px 0 30px 0;
  color: $prefoot-text-color;
  background: $prefoot-text-color-bg;
  font-family: $sans-serif;

  h2 {
    color: $prefoot-text-color;
    font-family: $semibold-sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.15;
    margin: 0 0 8px 0;
    text-transform: uppercase;
  }

  p {
    color: $prefoot-text-color;
  }
}

/******************************************************************
 * COMMENT STYLES
 ******************************************************************/

/* h3 comment title */
#comments-title {
  padding: 0.75em;
  margin: 0;
  border-top: 1px solid $light-gray;

  /* number of comments span */
  span {}
}

.comment-nav {
  ul {
    li {}
  }
}

.commentlist {
  margin: 0;
  list-style-type: none;
}

.comment {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  border-bottom: 1px solid $light-gray;

  .comment-author {
    padding: 7px;
    border: 0;
  }

  /* vcard */
  .vcard {
    margin-left: 50px;

    cite.fn {
      font-weight: 700;
      font-style: normal;

      a.url {}
    }

    time {
      display: block;
      font-size: 0.9em;
      font-style: italic;

      a {
        color: $meta;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .photo {}

    .avatar {
      position: absolute;
      left: 16px;
      border-radius: 50%;
    }
  }

  /* end .commentlist .vcard */

  &:last-child {
    margin-bottom: 0;
  }

  .children {
    margin: 0;

    li {}

    /* variations */
    .comment {}

    .alt {}

    .odd {}

    .even {}

    .depth-1 {}

    /* change number for different depth */
    .byuser {}

    .bypostauthor {}

    .comment-author-admin {}
  }

  /* end children */

  &[class*=depth-] {
    margin-top: 1.1em;
  }

  &.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  &:not(.depth-1) {
    margin-top: 0;
    margin-left: 7px;
    padding: 7px;
  }

  &.depth-2 {}

  &.depth-3 {}

  &.depth-4 {}

  &.depth-5 {}

  /* general comment classes */
  &.alt {}

  &.odd {
    background-color: $light;
  }

  &.even {
    background: $light-gray;
  }

  &.parent {}

  &.comment {}

  &.children {}

  &.pingback {}

  &.bypostauthor {}

  &.comment-author {}

  &.comment-author-admin {}

  &.thread-alt {}

  &.thread-odd {}

  &.thread-even {}
}

/* comment meta */
.comment-meta {
  a {}
}

.commentmetadata {
  a {}
}

/* comment content */
.comment_content {
  p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em;
  }
}

/* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
  @extend .blue-btn;

  font-size: 0.9em;
  float: right;

  &:hover,
  &:focus {}
}

/* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em;
}

/******************************************************************
 * COMMENT FORM STYLES
 ******************************************************************/

.comment-respond {
  @extend .cf;

  padding: 1.5em;
  border-top: 1px solid $light-gray;
}

#reply-title {
  margin: 0;
}

.logged-in-as {
  color: $meta;
  font-style: italic;
  margin: 0;

  a {
    color: $text-color;
  }
}

.comment-form-comment {
  margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
  padding: 1.5em;
  background-color: $light-gray;
  font-size: 0.9em;
}

/* comment submit button */
#submit {
  @extend .blue-btn;

  float: right;
  font-size: 1em;
}

/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
  a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}

/******************************************************************
 * SIDEBARS & ASIDES STYLES
 ******************************************************************/

.sidebar {}

.widgettitle {}

.widget {
  ul {
    li {
      &:first-child {}

      &:last-child {}

      a {}

      /* deep nesting */
      ul {}
    }
  }
}

.no-widgets {
  background-color: $light;
  padding: 1.5em;
  text-align: center;
  border: 1px solid $gray;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/******************************************************************
 * FOOTER STYLES
 ******************************************************************/

.footer {
  clear: both;
  background-color: $dark;
  color: $light-gray;
}

/* if you checked out the link above:
* http://www.alistapart.com/articles/organizing-mobile/
* you'll want to style the footer nav a bit more in-depth.
* Remember to keep it simple because you'll have to
* override these styles for the desktop view. */
.footer-links {
  ul {
    li {}
  }
}

/* end .footer-links */

.copyright {}

/******************************************************************
 * UTILITY STYLES
 ******************************************************************/

.hide, .hidden {
  display: none !important;
  visibility: hidden !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  visibility: hidden;
}

// Text Align
.left-align, .text-align-left {
  text-align: left !important;
}

.right-align, .text-align-right {
  text-align: right !important;
}

.center, .center-align, .centered {
  text-align: center !important;
}

.left, .align-left {
  float: left !important;
}

.right, .align-right {
  float: right !important;
}

// No Text Select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Block Center
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Block Truncate
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.dark-blue {
  color: $dark-blue;
}

/******************************************************************
 * INCLUDED STYLES
 ******************************************************************/

// header
@import '../sections/header';

// navigation
@import '../sections/navigation';

// padiact
@import '../sections/padiact';

// footer
@import '../sections/footer';

/******************************************************************
 * MEDIA OVERRIDE STYLES
 ******************************************************************/

// @media screen and (max-width: 480px) {
//   html {
//     -webkit-text-size-adjust: none;
//     -ms-text-size-adjust: none;
//   }

//   #logo-lockup {
//     margin: 0 auto;
//     width: 275px;
//   }

//   #logo {
//     height: 50px;
//     width: 258px;
//     max-width: none;
//     overflow: hidden;
//     background: url('/wp-content/themes/luskin/library/images/rml-300-lcc.png') no-repeat center center !important;
//   }

//   .logo-ucla {
//     margin-top: 0px;
//     margin-left: 40px;
//     padding-right: 0px !important;
//     display: inline-block;
//     height: 60px;
//     width: 100px;
//     max-width: none;
//     overflow: hidden;
//     background: url('/wp-content/themes/luskin/library/images/rml-300-ucla.png') no-repeat center center !important;
//   }

//   .room-col {
//     width: 100%;

//     &.second {
//       padding-top: 45px;
//     }
//   }

//   .content-tabs {
//     .tab-title {
//       padding-top: 23px;
//       padding-bottom: 22px;
//       font-size: 17px;
//       line-height: 20px;
//     }

//     .tab-content {
//       padding-top: 15px;
//     }
//   }

//   .event-planning-resources {
//     .left-column, .right-column {
//       float: none;
//       width: 100%;
//     }
//   }

//   .attraction-title {
//     font-size: 13px;
//     padding-left: 10px;
//   }

//   .caption {
//     display: block;
//     margin: 0 auto;
//     padding: 10px;
//     font-size: 10px;
//   }

//   .page-heading h1 {
//     margin: 30px 0 10px 0;
//     padding: 0;
//     font-size: 1.5em;
//     font-family: $semibold-sans-serif;
//     text-transform: uppercase;
//     color: #47718E;
//     line-height: 1em;
//   }

// }

// @media screen and (max-width: 445px) {
//   .home-slideshow .slide-overlay {
//     top: 40px;

//     h2 {
//       font-size: 30px;
//     }

//     h3 {
//       font-size: 21px;
//     }
//   }

//   #slideshow-container .action-buttons {
//     left: 20px;
//     right: 20px;
//     bottom: 75px;
//   }

//   .action-buttons .action-button-wrapper {
//     float: left;
//     width: 49.99%;

//     a {
//       height: 67px;
//       margin-bottom: 8px;
//       margin-left: 0;
//       margin-right: 0;
//       padding: 0 10px;
//       line-height: 1.2;
//       text-align: center;
//       background-image: none;
//       font-size: 10px;
//     }

//     &.odd a {
//       margin-right: 4px;
//     }

//     &.even a {
//       margin-left: 4px;
//     }

//     a span {
//       display: table;
//       width: 100%;
//       height: 100%;

//       span {
//         display: table-cell;
//         vertical-align: middle;
//       }
//     }
//   }

//   #slideshow-container {
//     .action-buttons {
//       bottom: 50px;
//     }

//     .bx-controls {
//       bottom: 23px;
//     }
//   }

//   .gallery-pager a {
//     width: 100%;
//   }

//   .content-tabs .tab-title {
//     padding-bottom: 13px;
//     padding-top: 13px;

//     br {
//       display: block;
//     }
//   }

//   .column-button-block a.button {
//     display: block;
//   }

//   .floorplan-plan .floorplan span {
//     max-width: 62%;
//     padding-top: 15px;
//     font-size: 11px;
//   }

//   .slider img {
//     height: 200px;
//   }

//   /* about page button styles */

//   ul.about-buttons {
//     padding-bottom: 0px;
//   }

//   a {
//     &.button-abt {
//       display: inline-block;
//       margin: 0 10px 10px 0;
//       padding: 10px 60px 10px 10px;
//       font-size: 14px;
//       color: #FFF;
//       text-transform: uppercase;
//       letter-spacing: 0.05em;
//       font-family: $semibold-sans-serif;
//       background-color: #1C4D71;
//       zoom: 1;

//       &.second-icon.down-arrow {
//         background-repeat: no-repeat;
//         background-position: 12px -180px;
//       }

//       &.down-arrow {
//         background-repeat: no-repeat;
//         background-position: right -180px;
//       }

//       &.book-icon {
//         background-repeat: no-repeat;
//         background-position: 6px -7px;
//       }

//       &.movie-icon {
//         background-repeat: no-repeat;
//         background-position: 222px -66px;
//       }
//     }

//     &.second-icon, &.third-icon {
//       background: rgb(71, 113, 142);
//       margin-left: -15px;
//       padding-right: 20px;
//       padding-left: 20px;
//       border-right: 5px solid #FFFFFF;
//       border-left: 2px solid #FFFFFF;
//     }

//     &.button-no-right-padding {
//       padding-right: 25px;
//     }

//     &.button-less-right-margin {
//       margin-right: 10px;
//     }
//   }

//   .button-wrapper {
//     margin: 0;
//     margin-bottom: 20px;
//     padding: 0;
//     display: inline-block;
//     max-height: 64px;
//   }
// }

// @media screen and (max-width: 360px) {
//   a {
//     &.button, &.button-alt {
//       font-size: .85em;
//     }
//   }

//   .action-buttons .action-button-wrapper a {
//     height: 40px !important;
//   }

//   .callout {
//     width: 240px;
//     font-size: 1.75em;
//     line-height: 1.5em;
//   }

//   div.description p {
//     font-size: .875em;
//   }

//   .content-tabs .tab-title {
//     background-image: none;
//   }

//   div.tab-content {
//     margin-top: 15px;
//   }

//   .mobile-gallery-nav-select, #mobile-gallery-nav ul li {
//     font-size: .675em;
//   }

//   .gallery .overlay {
//     h4 {
//       font-size: 1.15em;
//     }

//     > p {
//       font-size: .8em;
//     }
//   }
// }
