@charset "UTF-8";

/*Note: This CSS file may not always be valid according to the W3C standards.
 It may contain proprietary/nonstandard or yet unsupported code.
 This code is used to fix certain user agent rendering bugs, or to enhance the website/application in the case of more advanced user agents.

 @website: Luskin
*/

html { filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

* html body { behavior: url("/scripts/csshover.htc"); }

legend {
	position:relative;
	margin-left:-7px;
}

.icon {
    text-indent: 0;
    linhe-height: 100px;
}